{% extends "base.jinja" %}
{% block main %}
	{% include "includes/overlay/key_export_qr.jinja" %}
	{% include "includes/hwi/hwi.jinja" %}
	<h1>{{ device.name }}</h1>
	<form action="./" method="POST">
		<div class="row" style="text-align: center; line-height: 2;">
			{% include "device/components/device_type.jinja" %}
		</div>
		<button type="submit" class="btn hidden" id="settype" name="action" value="settype" style="margin: auto; margin-top: 10px; align-self:center;">Update</button>
	</form>
	<br>
	<div class="table-holder">
		<table>
			<thead>
				<tr>
					<th>Network</th><th>Purpose</th><th>Derivation</th><th></th><th>Key</th><th>Actions</th>
				</tr>
			</thead>
			<input type="hidden" id="key_selected" value="0" />
			<tbody>
				{% for key in device.keys %}
					<tr>
						<td>
							{% from "components/bitcoin_svg.jinja" import bitcoin_svg %}
							{% if key.xpub.startswith("xpub") %}
								{{ bitcoin_svg('main', 16) }} Main
							{% else %}
								{{ bitcoin_svg('test', 16) }} Test
							{% endif %}
						</td>
						<td>{{ key.purpose }}</td>
						<td>{{ key.derivation }}</td>
						<td width="15" onclick="showPageOverlay('key_export_qr');document.getElementById('key_selected').value='{{loop.index0}}';toggleKeyDisplay();" title="Show key QR code" style="cursor: pointer;">
							<img style="margin-top: 5px;" width="15" src="/static/img/qr_tiny.svg"/>
						</td>
						<td class="xpub scroll">
							<span class="explorer-link" onclick="copyText('{{ key }}', 'Copied key: {{ key }}')">{{ key }}</span>
						</td>
						<td width="80px">
							<form action="./" method="POST">
								<input type="hidden" name="key" value="{{ key.original }}">
								<button type="submit" name="action" value="delete_key" class="btn danger hovering">Delete</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="spacer"></div>
	<div class="row">
		{% if device.supports_hwi_toggle_passphrase %}
		<button type="button" class="btn centered" onclick="togglePassphrase('{{ device.device_type }}')">Toggle device passphrase</button>
		&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
		{% endif %}
		{% if device.device_type != 'bitcoincore' %}
		<form action="./" method="POST">
			<button id="add_keys" type="submit" name="action" value="add_keys" class="btn centered">Add more keys</button>
		</form>
		&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
		{% endif %}
		<form action="./" method="POST">
			<button type="submit" name="action" value="forget" class="btn danger centered">Forget the device</button>
		</form>
	</div>
	<br>
	{% if wallets %}
		<h1>Wallets Using This Device</h1>
		<div class="row overflow">
			{% for wallet in wallets %}
				<a href="{{ url_for('wallet', wallet_alias=wallet.alias) }}" style="text-decoration: none;">
					<div class="small-card radio">
						{% if wallet.is_multisig %}
							<img src="/static/img/multisig_icon.svg" width="18px">
						{% else %}
							<img src="/static/img/simple_icon.svg" width="18px">
						{% endif %}
						{{ wallet.name }}
					</div>
				</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script>
		document.addEventListener("DOMContentLoaded", function(){
			var deviceType = document.getElementById("device_type");
			if (deviceType != null) {
				deviceType.value = '{{ device.device_type }}';
			}
			deviceType.addEventListener("change", function() {
				var setTypeButton = document.getElementById("settype");
				if (deviceType.value != '{{ device.device_type }}') {
					setTypeButton.style.display = 'block';
				} else {
                	setTypeButton.style.display = 'none';
				}
			}, false);
		});
	</script>
{% endblock %}
