{% extends "base.jinja" %}

{% block main %}
	{% include "includes/hwi/hwi.jinja" %}
	{% if device %}
		<h1>Adding keys to {{ device["name"] }}</h1>
	{% else %}
		<h1>Add new hardware wallet</h1>
	{% endif %}
	<div class="card">
		<form action="." method="POST">
			<input type="hidden" id="type_id" name="type" />
			<input type="hidden" id="path_id" name="path" />
			<div id="connect_container">
				<h2>Connect USB wallet</h2>
				<br/>
				<button class="btn" id="connect_btn" type="button" onclick="showPageOverlay(HWI_POPUPS.SELECT)">Begin</button>
			</div>

			<div id="extract_xpubs_container" class="hidden">
				<h2>Extract Xpubs and Add Device:</h2>
				<br/>
				{% if not device %}
					<div>
					Name it &nbsp; &nbsp;<input type="text" id="device_name_id" name="device_name" class="inline" placeholder="Name your device">
					</div><br/>
				{% endif %}
				<button class="btn" id="extract_btn">Submit</button>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		document.getElementById('extract_btn').addEventListener("click", async function(event) {
			event.preventDefault();
			showPageOverlay(HWI_POPUPS.EXTRACT_XPUBS);

			let result = await hwiSendCommand('extract_xpubs', {
				device_name: document.getElementById('device_name_id').value,
				device_type: hwiCurrentWallet.type,
				path: hwiCurrentWallet.path,
				passphrase: hwiWalletPassphrase
			});

			if (result.success) {
				location.href = "/devices/" + result.data;
			}
		});

		document.getElementById('hwi_unlocked__submit').addEventListener("click", async function(event) {
			event.preventDefault();

			var connectContainer = document.getElementById('connect_container');
			var extractContainer = document.getElementById('extract_xpubs_container');
			connectContainer.style.display = "none";
			extractContainer.style.display = "block";
			document.getElementById('device_name_id').value = hwiCurrentWallet.typeDisplay;
		});
	</script>
{% endblock %}
