<fieldset class="floating-wrapper"> 
    <select class="floating-input peer" name="device_type" id="device_type">
        <option value="" selected>{{ _("Select type") }}</option>
        {% for cls in specter.device_manager.supported_devices %}
            {% if cls.device_type != "bitcoincore" or (device and device.device_type != "bitcoincore_watchonly") %}
                <option value="{{cls.device_type}}">{{cls.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <label class="floating-label">{{ _("Device Type") }}</label>
</fieldset>
