<fieldset class="floating-wrapper grow"> 
    <select class="floating-input peer" name="device_type" id="device_type">
        <option value="" selected>{{ _("Select type") }}</option>
        {% for cls in specter.device_manager.supported_devices %}
            {% if specter.node_manager.active_node.is_device_supported(cls) and cls.device_type != 'elementscore' %}
                <option value="{{cls.device_type}}">{{ cls.name }}</option>
            {% else %}
                <option value="{{cls.device_type}}" disabled>{{ cls.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <label class="floating-label">{{ _("Device Type") }}</label>
</fieldset>
