<div style="display: inline;">
    <span>{{ _("Device Type:") }}</span>
    <br>
    <fieldset style="border:none; padding: 0px; margin: 0px;"> 
        <select name="device_type" id="device_type">
            <option value="" selected>{{ _("Select type") }}</option>
            {% for cls in specter.device_manager.supported_devices %}
                {% if cls.device_type != "bitcoincore" or (device and device.device_type != "bitcoincore_watchonly") %}
                    <option value="{{cls.device_type}}">{{cls.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </fieldset>
</div>
