{% extends "base.jinja" %}

{% block main %}

<h1>Logos</h1>

{% from "components/liquid_svg.jinja" import liquid_svg %}
{% from "components/bitcoin_svg.jinja" import bitcoin_svg %}

<h2> Different chains </h2>
<ul>
    <li>
        Bitcoin main: {{ bitcoin_svg("main", 40) }}
    </li>
    <li>
        Bitcoin regtest: {{ bitcoin_svg("regtest", 40) }}
    </li>
    <li>
        Bitcoin testnet: {{ bitcoin_svg("testnet", 40) }}
    </li>
    <li>
        Liquid main: {{ liquid_svg("main", 40) }}
    </li>
    <li>
        Liquid regtest: {{ liquid_svg("regtest", 40) }}
    </li>
    <li>
        Liquid testnet: {{ liquid_svg("testnet", 40) }}
    </li>
</ul>
<br>

<h2>Different sizes</h2>
<ul>
    <li>
        Bitcoin 20: {{ bitcoin_svg("main", 20) }}
    </li>
    <li>
        Bitcoin 40: {{ bitcoin_svg("main", 40) }}
    </li>
    <li>
        Bitcoin 60: {{ bitcoin_svg("main", 60) }}
    </li>
</ul>

{% endblock %}
