{% extends "base.jinja" %}
{% block main %}
	<a href="{{ url_for('nodes_endpoint.internal_node_settings', node_alias=node.alias)}}" class="btn centered">Return</a>
	<br><br>
	<div class="card" style="width:90%; max-width: 1000px;">
		Bitcoin Logs:
		<pre><code>{{ loglines }}</code></pre>
		<br>
		<div>If this is an issue, please let us know! Create an <a href="https://github.com/cryptoadvance/specter-desktop/issues" target="_blank" style="color: #fff;">issue</a> or ping us on <a href="https://t.me/spectersupport" target="_blank" style="color: #fff;">Telegram</a> to fix it.</div>
	</div>
		
{% endblock %}
