__pycache__
.pytest_cache
*.pyc
.env
.venv
.tor_service_key
build
dist
*.egg-info
.vscode
cert.pem
key.pem
*.dmg
.python-version
pyinstaller/specterd
pyinstaller/release
pyinstaller/release-linux
pyinstaller/release-win
pyinstaller/version.txt
pyinstaller/electron/version-data.json
pyinstaller/electron/node_modules
pyinstaller/electron/dist
.DS_Store
.coverage
cypress/videos
cypress/screenshots
node_modules
