__pycache__
.pytest_cache
*.pyc
.env
.buildenv
.venv
.tor_service_key
build
dist
release
*.egg-info
.vscode
.idea
cert.pem
key.pem
*.dmg
.python-version
pyinstaller/specterd
pyinstaller/release
pyinstaller/release-linux
pyinstaller/release-win
pyinstaller/version.txt
pyinstaller/electron/version-data.json
pyinstaller/electron/downloadloc.js
pyinstaller/electron/node_modules
pyinstaller/electron/dist
pyinstaller/electron/fonts
pyinstaller/electron/typography.css
pyinstaller/electron/output.css

.DS_Store
.coverage
cypress/videos
cypress/screenshots
node_modules
btcd-conn.json
elmd-conn.json
tests/bitcoin*
tests/elements*
token.sh
src/cryptoadvance/specter/translations/**/messages.mo
src/cryptoadvance/specter/_version.py
tests/elements
signing_dir
site
docs/README.md
cypresstest-output.xml
cypress/downloads
pyinstaller/electron/output.css
pyinstaller/electron/typography.css
