__pycache__
.pytest_cache
*.pyc
.env
.venv
.tor_service_key
build
dist
*.egg-info
.vscode
cert.pem
key.pem
*.dmg
pyinstaller/specterd
pyinstaller/release
# Vim temp files
*.sw[a-p]
pyinstaller/version.txt
.DS_Store