certifi==2022.12.7
chardet==3.0.4
Click==8.1.1
Flask==2.2.5
Flask-Babel==3.1.0
Flask-Cors==3.0.10
Flask-Login==0.6.3
Flask-RESTful==0.3.10
Flask-HTTPAuth==4.8.0
hwi==2.1.1
python-dotenv==0.21.1
requests==2.26.0
pysocks==1.7.1
six==1.16.0
stem==1.8.0
embit==0.6.1
psutil==5.9.0
pyopenssl==23.0.0
flask_wtf==1.2.1
pgpy==0.6.0
cbor2==5.4.6
mnemonic==0.21
cryptography==39.0.1
Flask-APScheduler==1.12.4
gunicorn==20.1.0
simple-websocket==0.8.1
protobuf==3.20.2
PyJWT==2.4.0
pytimeparse==1.1.8
psycopg2-binary==2.9.5
aioitertools==0.11.0

# Extensions
cryptoadvance-liquidissuer==0.2.4
specterext-exfund==0.1.7
specterext-faucet==0.1.2
cryptoadvance.spectrum==0.6.7
specterext-stacktrack==0.3.0

# workarounds

# greenlet is needed but not inserted as transitive dependency for some reason
greenlet==2.0.2 