<div class="page_overlay" id="page_overlay" style="display: none;">
    <div class="page_overlay_popup" id="page_overlay_popup">
        <div id="page_overlay_popup_content"></div>
        <div class="page_overlay_popup_cancel">
            <a href="#" id="page_overlay_popup_cancel_button" class="item medium">{{ _("cancel") }}</a>
        </div>
        <br/>
        <div class="clear-both"></div>
    </div>
</div>

<div class="loader" id="pacman">
    <img src="{{ url_for('static', filename='img/loader.gif') }}"/>
    <div>{{ _("Loading... It may take a while...") }}</div>
</div>

<script type="module">

    Specter.common.attachEventListener("page_overlay_popup_cancel_button", "click", (event)=> {
        Specter.overlay.cancelOverlay();
				});  
</script>
