<a href="{{url_for('setup_endpoint.' + specter.setup_status.stage)}}">
    {% if specter.setup_status.stage == "start" %}
        {{ _('Get started!') }}
    {% else %}
        {{ _('Continue setup') }}
    {% endif %}
</a>
