<div class="flex-col p-4 mt-6 mb-4 bg-dark-600 rounded-lg">
    <p class="text-white mb-4">
        Does Specter run on a remote machine (Umbrel, myNode etc.) and you try to use a USB signing device on your local machine?
        If so, you need to: <br>
        - Download the Specter app
        <a class="text-lg" href="https://specter.solutions/downloads/" target="_blank" title="Download Specter app" alt="Specter app download link">here</a><br>
        - Start the app and adjust the "Remote Specter URL" in the app settings. <br>
        - Adjust the USB settings here (click the button) <br>
        After that, you can continue to use Specter here but you need to open the Specter app if you want to use the USB signing device.
    </p>
    <a href="{{ url_for('settings_endpoint.hwi') }}" class="btn bg-accent border-accent hover:border-accent hover:opacity-80">{{ _("Update settings") }}</a>
</div>
