<div class="card" data-style="margin: auto;padding: 5px 10px 15px; width: 90%;">
    <div class="row">
        <img src="{{ url_for('static', filename='img/warning_sign.svg') }}" data-style="width: 20px;"/>
        <p data-style="color: #FF9A00; font-size: 1.1em; margin-left: 10px;">{{ _('Using Specter from a remote machine?') }}</p>
    </div>
    <p data-style="margin-left: 30px; margin-top: -10px; margin-right: 20px; text-align: left;">{{ _('If you run Specter on a remote machine, like Umbrel or a myNode, you need to update settings to connect hardware wallets via USB.') }}</p>
    <a href="{{ url_for('settings_endpoint.hwi') }}" data-style="color: #fff; text-decoration: underline; cursor: pointer;">
        <h4>{{ _("Update your settings") }}</h4>
    </a>
</div>
