<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
        <title>{{ _("Specter") }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='output.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='typography.css') }}">
    </head>
    <body class="bg-dark-900 text-white">
        <main class="flex flex-col items-center">
            <div class="max-w-[1100px]">
                <h1 class="mt-20">{{ _("Server error") }}</h1>
                <div class="mt-5">
                    <h3>{{ _("Exception") }}</h3>
                    <b>{{ error }}</b>
                </div>
                <div class="mt-3">
                    <a class="button" href="{{ url_for('welcome_endpoint.index') }}">{{ _("Back to the main page") }}</a>
                </div>

                <div class="mt-8">
                    <h3>{{ _("Details") }}</h3>
<pre class="max-w-[1100px] break-all whitespace-pre-wrap bg-dark-700 p-4 rounded-lg">
<code>version: {{ version }}
{{ traceback }}</code>
</pre>
                </div>
                <p class="mt-3">
                    {{ _('Please let us know! Create an ') }}<a href="https://github.com/cryptoadvance/specter-desktop/issues" target="_blank">{{ _("issue") }}</a>{{ _(" or ping us on ") }}<a href="https://t.me/spectersupport" target="_blank">{{ _("Telegram") }}</a>{{ _(" to fix it.") }}
                </p>
            </div>
        </main>
    </body>
</html>
