<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" type="image/png" href="/static/img/icon.png"/>
		<title>Specter Desktop</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/styles.css?{{rand}}">
	</head>
	<body>
	{% if specter.config.auth == "none" or current_user.is_authenticated %}
		{% include "includes/overlay/overlay.html" %}
		{% include "includes/qr-code.html" %}
	{% endif %}
	{% include "includes/message-box.html" %}
	<div class="row holder">
		{% block sidebar %}
			{% include "includes/sidebar/sidebar.jinja" %}
		{% endblock %}
		<main><div><br><br></div>
			{% if current_user.is_authenticated and not hwi_bridge %}
				<div class="row" id="status-bar" style="border-radius: 0 0 0 15px; position: absolute; right: 0; color: #ddd; background-color: #323e50;">
					{% include "components/tor_address.jinja" %}
					<a class="settings-bar-btn" href="{{ url_for('settings') }}">
						<img src="/static/img/settings-status-bar.svg" style="width: 22px;"/>
					</a>
					{% if specter.config.auth != "none" %}
						<a class="settings-bar-btn" href="{{ url_for('logout') }}">
							<img src="/static/img/logout-status-bar.svg" style="width: 22px;"/>
						</a>
					{% endif %}
				</div>
			{% endif %}
			<img id="menubtn" src="/static/img/menu.svg"/>

			<div id="messages">
			{% with messages = get_flashed_messages(with_categories=True) %}
				{% if messages %}
					{% for category, message in messages | unique %}
						<message-box type="{{ category }}">{{ message }}</message-box>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% if error %}
				<message-box type="error">ERROR: {{error}}</message-box>
			{% endif %}
			</div>

			{% block main %}
				{% if error %}
					<br><br>Something went wrong :(<br><br>{{error}}
				{% else %}
					<br>
					<img src="static/img/icon.png" width="130px"/>
					<div style="max-width: 60%; text-align: center;">
					<br>
					<h1 style="font-size: 1.8em;">Welcome to Specter Desktop</h1>
					<p style="font-size: 1.2em; font-weight: bolder;">Specter is meant to serve as a convenient and user-friendly GUI around Bitcoin Core, with a focus on multisignature setup with hardware wallets and airgapped (offline) devices.</p>
					<a href="https://github.com/cryptoadvance/specter-desktop/blob/master/docs/faq.md" target="_blank" style="color: #fff; font-size: 1.2em; font-weight: bolder;">Read the FAQ</a>
					<br><br><br>
					<h2 style="font-size: 1.6em;">Getting Started:</h2><br>
					<ul style="text-align: left; margin-left: 10%;">
						<li class="list-item">
							Click on "Add new device" on the left sidebar and follow the instructions to add a device to Specter.<br>
							<span class="note">Follow the same process for each device you would like to use as a separate possible (co)signer in a wallet.<span>
						</li>
						<li class="list-item">
							When adding a new device, you will have the option to add multiple <code>xpub</code> keys which belong to it.<br>
							Each key has a separate purpose for which it can be used (i.e. P2SH-P2WPKH, P2SH-P2WSH, P2WPKH, P2WSH).<br>
							<span class="note">Make sure to import all keys you want to make use of for creating wallets.</span>
						</li>
						<li class="list-item">
							After adding your device(s), you can start adding wallets by clicking on "Add new wallet" on the left sidebar.<br>
							<span class="note"><span>
						</li>
						<li class="list-item">
							For any questions or support, you can either open a <a href="https://github.com/cryptoadvance/specter-desktop/issues/new" target="_blank" style="color: #fff">GitHub issue</a> or ask it in the <a href="https://t.me/spectersupport" target="_blank" style="color: #fff">Specter Support Telegram group</a>.
						</li>
					</ul>
				{% endif %}
			{% endblock %}
		</main>
	</div>

	<script type="text/javascript" src="/static/helpers.js"></script>

	{% block scripts %}
	{% endblock %}
	</body>
</html>
