{% extends "base.jinja" %}

{% block sidebar %}
{% endblock %}

{% block main %}
    <div class="card">
        <h1>Login to Specter</h1>
        <form action="{{ url_for('login') }}" method="POST" role="form">
            {% if specter.config['auth'] == 'usernamepassword' %}
                <input class="form-control" placeholder="Username" name="username" type="text" value=""><br><br>
            {% endif %}
            <input class="form-control" placeholder="Password" name="password" type="password" value="">
            <input type="hidden" name="next" value="{{ data.next }}">
            <br>
            <br>
            <div class="row">
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
    </div>
{% endblock %}