{% extends "base.html" %}
{% block main %}
<form action="./" method="POST">

<div class="center">Name it &nbsp; &nbsp;<input type="text" name="wallet_name" class="inline" value="{{ wallet_name }}" placeholder="Name your wallet"></div><br>


<h1>Type of the wallet</h1>
{% if sigs_total %}
<div class="row center">
<label>
	{% if wallet_type=="sh-wsh" %}
	<input type="radio" name="type" value="sh-wsh" class="hidden" checked>
	{% else %}
	<input type="radio" name="type" value="sh-wsh" class="hidden">
	{%endif%}
	<div class="btn radio left">Nested Segwit</div>
</label>
<label>
	{% if wallet_type=="wsh" %}
	<input type="radio" name="type" value="wsh" class="hidden" checked>
	{% else %}
	<input type="radio" name="type" value="wsh" class="hidden">
	{%endif%}
	<div class="btn radio right">Segwit</div>
</label>
{% else %}
<div class="row center">
<label>
	<input type="radio" name="type" value="sh-wpkh" class="hidden">
	<div class="btn radio left">Nested Segwit</div>
</label>
<label>
	<input type="radio" name="type" value="wpkh" checked class="hidden">
	<div class="btn radio right">Segwit</div>
</label>
{% endif %}
</div>

<div class="note"><center>
	<br><b>Segwit</b> uses bech32-encoded addresses (bc1), <b>Nested Segwit</b> makes it compatible with legacy software. Don't use legacy.
</center></div>
{% if sigs_total %}
<br>
<div class="center">
	Using {%if not cosigner_index %}<input class="inline" type="number" name="sigs_required" min=1 max={{sigs_total}} step=1 value="{{sigs_required}}" />{% else %}<div class="input inline">{{sigs_required}}</div><input type="hidden" name="sigs_required" value="{{sigs_required}}"/> {%endif%}
	of {%if not cosigner_index %}<input class="inline" type="number" name="sigs_total" min={{2}} max={{sigs_total}} step=1 value="{{sigs_total}}"/>{% else %}<div class="input inline">{{sigs_total}}</div><input type="hidden" name="sigs_total" value="{{sigs_total}}"/> {%endif%} multisig
	<input type="hidden" name="cosigner_index" value="{{cosigner_index}}"/>
	{% for cosigner in cosigners %}
	<input type="hidden" name="cosigner{{loop.index0}}" value="{{cosigner}}"/>
	{% endfor %}
</div>
<br>
<h1>Pick the devices you want to use as cosigners</h1>
{% else %}
<div class="spacer"></div>
<h1>Pick the device you want to use</h1>
{% endif %}
<div class="row overflow">
		{% for k in specter.devices.names() %}
		<label>
			{% if sigs_total %}
			<input type="checkbox" name="devices" value="{{k}}" class="hidden">
			{% else %}
			<input type="radio" name="device" value="{{k}}" class="hidden">
			{% endif %}
			<div class="small-card radio">
				{% if specter.devices[k]['type'] != 'specter' and specter.devices[k]['type'] != 'coldcard' %}
					<img src="/static/img/other_icon.svg" width="18px">
				{% else %}
					<img src="/static/img/{{specter.devices[k]['type']}}_icon.svg" width="18px">
				{% endif %}
				{{ k }}
			</div>
		</label>
		{% endfor %}
</div>
<button type="submit" name="action" value="device" class="btn centered">Continue</button>
<div class="note"><br>
<center>
{% if sigs_total %}
	We use sorted multisig (BIP-67), so <b>order is NOT important.</b><br>
{% else %}
	On the next page we will ask you to choose the keys.
{% endif %}
</center>
</div>
</form>
{% endblock %}