{% extends "base.html" %}
{% block main %}
<h1>{{wallet.name}}</h1>
<div class="row padded">
	<a href="/wallets/{{wallet['alias']}}/tx/" class="btn radio left">Transactions</a>
	<a href="/wallets/{{wallet['alias']}}/addresses/" class="btn radio">Addresses</a>
	<a href="/wallets/{{wallet['alias']}}/receive/" class="btn radio">Receive</a>
	<a href="/wallets/{{wallet['alias']}}/send/" class="btn radio">Send</a>
	<a href="/wallets/{{wallet['alias']}}/settings/" class="btn radio right checked">Settings</a>
</div>
<h1>Keypool control</h1>
<form action="." method="POST" class="padded" style="width: 500px">
	<div>Currently watching {{wallet["keypool"]}} receiving and {{wallet["change_keypool"]}} change addresses.<div>
	<div class="row aligned">
		<div style="flex-grow: 1">Watch <input type="number" name="keypooladd" value="100" step="1" style="margin: 10px" class="inline"> more addresses </div>
		<button type="submit" name="action" value="keypoolrefill" class="btn" style=
		"max-width: 130px; margin-left: 20px">Add</button>
	</div>
</form>
<form action="." method="POST" class="padded" style="width: 500px">
	{% if wallet.rescan_progress %}
		<div class="row aligned">
			<div style="margin-right: 30px; flex-grow: 1;">Rescanning blochchain: {{"%.2f" % (wallet.rescan_progress*100)}}%</div>
			<button type="submit" name="action" value="abortrescan" class="btn" style="max-width: 130px; margin-left: 20px">Abort rescan</button>
		</div>
	{% else %}
		Rescan blockchain from block:<br>
		<div class="row aligned">
			{% if specter.info.chain == "main" %}
			{% set startblock=481824 %}
			{% else %}
			{% set startblock=0 %}
			{% endif %}

			<input type="number" name="startblock" value="{{startblock}}" style="margin-right: 10px">
			<button type="submit" name="action" value="rescanblockchain" class="btn">Rescan</button>
		</div>
		<div class="note center"><b>481824</b> was the first Segwit block.</div>
	{% endif %}
</form>

<h1>Import / Export</h1>

<div class="note center">
	Import this wallet to the device by scanning QR code below.
</div>
<div class="center">
	<img src="{{qrcode(qr_text)}}" class="qr padded" width="400px" />
</div>
{% if wallet.is_multisig %}
<div>
{% if cc_file %}
<a download="{{wallet['name']}}" href="data:text/plain;charset=US-ASCII,{{cc_file}}" class="btn centered padded">Download ColdCard file</a>
{% else %}
<div class="note">Coldcard file is unavailable - we don't have enough information to generate it</div>
{% endif %}
</div>
{% endif %}
<div>
	<code style="max-width: 700px; word-wrap: break-all; overflow-x: scroll; display: block; padding: 20px 0;">{{qr_text}}</code>
</div>
{% endblock %}