{% extends "base.html" %}
{% block main %}

<style>
	.tx_info {
		padding: 1em;
		border: 1px solid #506072;
		border-radius: 4px;
		text-align: center;
		margin-bottom: 2em;
	}
	.fee_container {
		height: 11em;
	}
	.fee_rate {
		width: 6em;
		min-width: 6em;
	}
	.hwi_container{
		margin-bottom: 2em;
	}
	.hwi-column-btn {
		margin: 0.75em;
	}
	#coinselection-table .tx {
		width: 100%;
		max-width: 179px;
		min-width: 120px;
	}
	.checkbox {
		width: 20px;
  		height: 20px;
	}
	#coinselect {
		margin-bottom: 10px;
	}
</style>
<h1>{{wallet.name}}</h1>
{% set active_menuitem = "send" %}
{% include "includes/wallet_menu.html" %}
<br>
		<div class="row">
			<a href="{{ url_for('wallet_send',wallet_alias=wallet_alias)}}" class="btn radio left ">New</a>
			<a href="{{ url_for('wallet_sendpending',wallet_alias=wallet_alias)}}" class="btn radio right checked">Pending</a>
		</div>
			<h1 class="padded">Pending Transactions:</h1>
			<div class="table-holder">
				<table>
					<thead>
					<tr>
						<th></th><th>Address</th><th>Amount</th><th>Time</th><th>Sigs</th><th>Actions</th>
					</tr>
					</thead>
					<tbody>
						{% if pending_psbts %}
							{% for txid in pending_psbts %}
								{% set pending_psbt = pending_psbts[txid] %}
								<tr>
									<td></td>
									<td class="tx scroll">
										<a target="blank" href="{{specter.explorer}}address/{{ pending_psbt['address'] }}">
											{{wallet.getaddressname(pending_psbt["address"], -1)}}
										</a>
									</td>
									<td>
										{{ pending_psbt["amount"] }}
									</td>
									<td>
										{{ pending_psbt["time"] | datetime }}
									</td>
									<td>
										{{ "{}/{}".format(pending_psbt["sigs_count"], wallet.sigs_required) }}
									</td>
									<td width="170px">
										<div class="row">
											<form action="{{ url_for('wallet_send',wallet_alias=wallet_alias)}}" method="POST">
												<input type="hidden" name="pending_psbt" value="{{pending_psbt}}">
												<button type="submit" name="action" value="openpsbt" class="btn" style="margin-right: 5px;">Open</button>
											</form>

											<form action="{{ url_for('wallet_sendpending',wallet_alias=wallet_alias)}}" method="POST">
												<input type="hidden" name="pending_psbt" value="{{pending_psbt}}">
												<button type="submit" name="action" value="deletepsbt" class="btn danger" style="margin-left: 5px;" onclick="javascript: form.action='./?pending=True';">Delete</button>
											</form>
										</div>
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<td></td><td>No transactions yet.</td><td></td><td></td><td></td><td></td>
						{% endif %}
					</tbody>
				</table>
			</div>

{% endblock %}


{% block scripts %}
<div class="popup" id="popup">
	<video muted playsinline id="qr-video" class="video"></video>
</div>

{% endblock %}
