{% extends "base.html" %}
{% block main %}
<h1>{{wallet.name}}</h1>
{% set active_menuitem = "receive" %}
{% include "includes/wallet_menu.html" %}
<div class="center">
<form action="./" method="POST">
	{% set addrlabel = wallet.getaddressname(wallet['address'], wallet['address_index']) %}
	<input type="text" autocomplete="off" spellcheck="false" id="label" name="label" value="{{addrlabel}}" style="text-align: center; border: none; font-size: 1.5em;" disabled>
	<button type="submit" id="save" name="action" value="updatelabel" class="btn centered" style="display: none;">Update</button>
	<button type="button" id="cancel" onclick="toggleEdit()" class="btn centered" style="display: none;">Cancel</button>
	<button type="button" id="edit" onclick="toggleEdit()" name="action" value="updatelabel" class="btn centered">Edit Label</button>
</form><br><br>

<script src="/static/qr/vue-qrcode.min.js"></script>
<div id="qrdiv" class="alt-qr">
	<qrcode value="{{'bitcoin:'+wallet['address']+'?index='+(wallet['address_index']|string) }}" :options="{ width: 300 }" tag="img"></qrcode>
</div>
<script>
	Vue.component(VueQrcode.name, VueQrcode);
	new Vue({el: "#qrdiv"})
</script>

<br>
<small>( scan to verify )</small>
<div class="padded">{{wallet['address']}}</div>
</div>
<form action="./" method="POST">
	<button type="submit" onclick="showLoader()" name="action" value="newaddress" class="btn centered">Get new address</button>&nbsp; &nbsp; &nbsp; 
	<!-- <button type="submit" name="action" value="send" class="btn centered action">Send</button> -->
</form>

<div class="note"><center>Specter can verify this address if you scan it.<br>
It has an address index included in the QR code.</center></div>

<script>
	function toggleEdit() {
		var edit_button_display = document.getElementById("edit").style.display
		if (edit_button_display === 'none'){
			document.getElementById("label").disabled = 'true'
			document.getElementById("label").style.border = 'none'
			document.getElementById("label").style.fontSize = '1.5em';
			document.getElementById("label").value = "{{ addrlabel }}"
			document.getElementById("edit").style.display = 'block'
			document.getElementById("cancel").style.display = 'none'
			document.getElementById("save").style.display = 'none'
		} else{
			document.getElementById("label").disabled = ''
			document.getElementById("label").style.removeProperty('border');
			document.getElementById("label").style.removeProperty('font-size');
			document.getElementById("edit").style.display = 'none'
			document.getElementById("cancel").style.display = 'block'
			document.getElementById("save").style.display = 'block'
		}
	}
</script>
{% endblock %}
