{% extends "base.html" %}
{% block main %}
<style>
	.address {
		text-decoration: none;
		color: inherit;
		float: right;
		margin-left: 10px;
	}
	.address:hover {
		color: #fff;
		text-decoration: underline;
	}
	.table-holder .balance {
		display: inline;
	}
	.label {
		text-align: left;
		padding-left: 0;
		float: left;
		width: auto;
	}
	.update {
		display: none;
		float: left;
		margin-right: 5px;
		margin-left: 5px;
	}
	.cancel {
		display: none;
		float: left;
	}
	.edit {
		float: right;
		margin-top: 8px;
	}
</style>
<h1>{{wallet.name}}</h1>
<div class="row padded">
	<a href="/wallets/{{wallet['alias']}}/tx/" class="btn radio left">Transactions</a>
	<a href="/wallets/{{wallet['alias']}}/addresses/" class="btn radio checked">Addresses</a>
	<a href="/wallets/{{wallet['alias']}}/receive/" class="btn radio">Receive</a>
	<a href="/wallets/{{wallet['alias']}}/send/" class="btn radio">Send</a>
	<a href="/wallets/{{wallet['alias']}}/settings/" class="btn radio right">Settings</a>
</div>
{% if ( wallet.fullbalance ) is not none %}
<h1><small style="line-height:30px">Total balance:<br></small><span style="color: #fff">
	{{ "%0.8f" % ( wallet.fullbalance ) | float }}
	{% if specter.chain !='main' %}t{%endif%}BTC
	{% if wallet.balance["untrusted_pending"] > 0 %}</span><br><small>
	( {{ "%0.8f" % wallet.balance["trusted"] | float }} confirmed, {{"%0.8f" % wallet.balance["untrusted_pending"] | float}} pending )
	{% endif %}
</small></h1>

<div style="padding: 0 30px; width: 100%;">
	<div class="row padded" style="width: intrinsic; margin: auto;">
		<a href="./?all=True&view={{viewtype}}" class="btn radio left {% if alladdresses %}checked{% endif %}">History</a>
		<a href="./?all=False&view={{viewtype}}" class="btn radio right {% if alladdresses != True %}checked{% endif %}">UTXO</a>
	</div>
	<span>View Type: </span><br>
	<div class="dropdown" style="margin-top: 5px;">
		<button class="btn radio dropbtn">{{viewtype|title}} View &#9660;</button>
		<div class="dropdown-content">
			<a href="./?all={{alladdresses}}&view=address">Address View</a>
			<a href="./?all={{alladdresses}}&view=label">Labels View</a>
		</div>
	</div>
</div>
{% set isaddrview = viewtype == "address" %}
{% set accounts = (wallet.active_addresses if isaddrview else wallet.labels) if alladdresses else (wallet.utxoaddresses if isaddrview else wallet.utxolabels)  %}
{% for account in accounts | reverse %}
{% if alladdresses or (wallet.balanceonaddr(account) > 0 if isaddrview else wallet.balanceonlabel(account) > 0) %}
{% set accountlabel = wallet.getaddressname(account, (wallet.active_addresses | length - loop.index0 - 1) if alladdresses else -1) if isaddrview else account %}
<div class="table-holder">
	<br>
	<form action="./?all={{alladdresses}}&view={{viewtype}}" method="POST">
		<br>
		<input type="text" class="label" autocomplete="off" spellcheck="false" id="{{"label" ~ loop.index0}}" name="label" value="{{accountlabel}}" style="border: none; font-size: 1.5em;" disabled />
		<input type="hidden" name="account" value="{{account}}"/>
		<button type="submit" class="btn update" id="{{"save" ~ loop.index0}}" name="action" value="updatelabel">Update</button>
		<button type="button" class="btn cancel" id="{{"cancel" ~ loop.index0}}" onclick="toggleEdit('{{ loop.index0 }}', '{{ accountlabel }}')">Cancel</button>
		<button type="button" class="btn edit" id="{{"edit" ~ loop.index0}}" onclick="toggleEdit('{{ loop.index0 }}', '{{ accountlabel }}')">Edit Label</button>
		<br>
	</form><br><br>
	{% if isaddrview %}
	<a target="blank" class="address" href="{{specter.explorer}}address/{{account}}">{{account}}</a>
	{% endif %}
	<p class="balance">Balance: 
		{{"%0.8f" % (wallet.balanceonaddr(account) if isaddrview else wallet.balanceonlabel(account)) | float}} 
		{% if specter.chain !='main' %}t{%endif%}BTC
	</p>
	<br><br>
	<table>
		<thead>
		<tr>
			<th></th><th>TxID</th><th>Address</th><th>Amount</th><th>Confirmations</th><th>Time</th>
		</tr>
		</thead>
		<tbody>
			{% if (wallet.txonaddr(account) if isaddrview else wallet.txonlabel(account) > 0) %}
			{% for tx in wallet.transactions %}
			{% if (tx["address"] == account or (wallet.getlabel(tx["address"]) == account and not isaddrview)) and (alladdresses or (wallet.istxspent(tx["txid"]) and tx["category"] != "send")) %}
				{% if tx["block_height"] == -1 %}
					<tr class="unconfirmed">
				{%else%}
					<tr>
				{%endif%}
				<td>
					{# coinbase txs are 'immature' until 100 confs #}
					{% if tx['category'] == 'immature' %}
						<img src="/static/img/unconfirmed_receive_icon.svg"/>
					{% else %}
						{% if tx["block_height"] == -1 %}
						<img src="/static/img/unconfirmed_{{tx['category']}}_icon.svg"/>
						{% else %}
						<img src="/static/img/{{tx['category']}}_icon.svg"/>
						{% endif %}
					{% endif %}
				</td>
				{% set display_address = (tx["destination"]["address"] if ("destination" in tx and tx["destination"] != None) else tx["address"])%}
				<td class="tx scroll"><a target="blank" href="{{specter.explorer}}tx/{{tx['txid']}}">{{tx["txid"]}}</a></td>
				<td class="tx scroll"><a target="blank" href="{{specter.explorer}}address/{{display_address}}">{{wallet.getaddressname(display_address, -1)}}</a></td>
				<td>{{tx["amount"]}}</td><td>
				{%if tx["block_height"] == -1 %}
					Pending
				{% else %}
					{{specter.info.blocks - tx["block_height"] + 1}}
				{% endif %}
				</td>
				<td>{{tx["time"] | datetime}}</td></tr>
			{% endif %}
			{% endfor %}
			{% else %}
			<td></td><td>No transactions yet.</td><td></td><td></td><td></td><td></td>
			{% endif %}
		</tbody>
	</table>
</div>
{% endif %}
{% endfor %}
{% endif %}
<script>
	function toggleEdit(id, accountlabel) {
		var edit_button_display = document.getElementById("edit"+id).style.display
		if (edit_button_display === 'none'){
			document.getElementById("label" +id).disabled = 'true'
			document.getElementById("label" +id).style.border = 'none'
			document.getElementById("label" + id).style.textAlign = 'left';
			document.getElementById("label" + id).style.fontSize = '1.5em';
			document.getElementById("label" +id).value = accountlabel
			document.getElementById("edit" +id).style.display = 'block'
			document.getElementById("cancel" +id).style.display = 'none'
			document.getElementById("save" +id).style.display = 'none'
		} else{
			document.getElementById("label" + id).disabled = ''
			document.getElementById("label" + id).style.removeProperty('border');
			document.getElementById("label" + id).style.textAlign = 'center';
			document.getElementById("label" + id).style.removeProperty('font-size');
			document.getElementById("edit" + id).style.display = 'none'
			document.getElementById("cancel" + id).style.display = 'block'
			document.getElementById("save" + id).style.display = 'block'
		}
	}
</script>
{% endblock %}