{% extends "base.html" %}
{% block main %}

{% include "includes/hwi.html" %}

<style>
	.fee_container {
		height: 11em;
	}
	.fee_rate {
		width: 6em;
		min-width: 6em;
	}
	#coinselection-table .tx {
		width: 100%;
		max-width: 179px;
		min-width: 120px;
	}
	.checkbox {
		width: 20px;
  		height: 20px;
	}
	#coinselect {
		margin-bottom: 10px;
	}
</style>
<h1>{{wallet.name}}</h1>
{% set active_menuitem = "send" %}
{% include "includes/wallet_menu.html" %}
<br>
<form action="{{ url_for('wallet_send',wallet_alias=wallet_alias)}}" method="POST" class="full-width">
	<div class="row">
		<a href="{{ url_for('wallet_send',wallet_alias=wallet_alias)}}" class="btn radio left checked">New</a>
		<a href="{{ url_for('wallet_sendpending',wallet_alias=wallet_alias)}}" class="btn radio right">Pending</a>
	</div>
	<h1 class="padded">Sending to:</h1>
	<div class="card"  id="spend_coins">
		Recipient address:<br>
		<div class="row">
			<input type="text" id="address" name="address" v-model="address"> &nbsp;
			<a class="btn" id="scanme"><img src="/static/img/qr_tiny.svg"/> Scan</a>
		</div>
		<br>
		Address label (optional):<br>
		<input type="text" id="label" name="label" value="{{label}}">
		<br><br>
		Amount:<br>
		<input style="width:200px" type="number" name="amount" v-model="amount" id="amount" v-bind:max="(unit == 'sat' ? max_amount_sendable * 100000000 : max_amount_sendable)" min=0 step="1e-8" autocomplete="off">
		<input type="hidden" name="btc_amount" :value="(unit == 'btc' ? amount : amount / 100000000)">
		<label><input type="radio" class="inline" style="margin: 0 5px;" name="amount_unit" v-model="unit" value="sat" checked>sats</label>
		<label><input type="radio" class="inline" style="margin: 0 5px;" name="amount_unit" v-model="unit" value="btc">BTC</label>
		<div class="notification error" v-if="above_wallet_amount || needs_more_selected_coins">
			<ul>
				<li v-if="needs_more_selected_coins"> You need to select more coins to match your amount!</li>
				<li v-if="above_wallet_amount"> You cannot send more than [[wallet_availablebalance]] !</li>
			</ul>
		</div>
		<div class="note">
			[[Number.parseFloat(amount / (unit == "sat" ? 100000000 : 0.000000001)).toFixed((unit == "sat" ? 8 : 0))]] [[(unit == "sat" ? "BTC" : "sats")]], 
			Available: {{wallet.availablebalance | btcamount}}{% if wallet.locked_amount > 0 %};
			&nbsp;Locked in pending transactions: {{wallet.locked_amount | btcamount}}
			{% endif %}
		</div>
		<div><label><input type="checkbox" class="inline" name="subtract" value="1"> Subtract from amount</label></div>
		<br><br>
	
		<div class="fee_container">
			<div>
				Fees: <label><input type="radio" class="inline" style="margin: 0 10px 0 20px;" id="fee_option_dynamic"  name="fee_options" value="dynamic" onclick="showFeeOption(this)" checked>dynamic</label>
				<label><input type="radio" class="inline" style="margin: 0 10px 0 20px" name="fee_options" value="manual" onclick="showFeeOption(this);">manual</label>
			</div>
			<br><br>
			<input type="hidden" id="fee_unit" name="fee_unit" value="">
			<div id = "fee_manual" style="display:none">
				Fee rate:<br>
				<input type="number" class="fee_rate" name="fee_rate" id="fee_rate" max="100" min=0 step="0.25" autocomplete="off"> sat/B
				<div class="note">leave blank to set automatically</div>
				<br><br>
			</div>
			<div id ="fee_dynamic" style="display:block">
				<div id="blocks"></div>
				<input type="range" style="width: 12em" min="1" max="25" value="6" step="1" id="slider_confTime" oninput="loadDynamicFees(this.value)">
				<input type="hidden" id="fee_rate_dynamic" name="fee_rate_dynamic" value="0">
				<div> Fee rate: <span id="fee_rate_dynamic_text"></span></div>
				<br><br>
			</div>
		</div>
		<div>
			<button id="coinselect" v-on:click="toggleExpand" type="button" class="btn" v-if="unspents.length>0">Select coins</button>
			<table style="table-layout:fixed; display: block;" v-if="coinselectionActive" id="coinselection-table">
				<thead>
				<tr>
					<th></th><th>TxID</th><th>Address</th><th>Amount</th>
				</tr>
				</thead>
				<tbody>
					<tr v-for="tx in unspents" v-bind:key="tx.txid">
						<td>
							<input class="checkbox" type="checkbox" v-model="tx.selected" name="coinselect" v-bind:value="[tx.txid, tx.vout, tx.amount]">
						</td>
						<td class="tx scroll"><a :href="block_explorer+'tx/'+tx.txid" target="blank">[[ tx.txid ]]</a></td>
						<td class="tx scroll">
							<a :href="block_explorer+'address/'+tx.address" target="blank">
								[[ tx.label != '' && tx.label != undefined ? tx.label : tx.address ]]
							</a>
						</td>
						<td>[[ tx.amount ]]</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button type="submit" v-bind:disabled="above_wallet_amount || needs_more_selected_coins || amount == '' || address == ''" name="action" value="createpsbt" class="btn centered" style="margin-top: 20px;">Create unsigned transaction</button>
	</div>
</form>

{% endblock %}


{% block scripts %}
<div class="popup" id="popup">
	<video muted playsinline id="qr-video" class="video"></video>
</div>
<script>
function replace(hide, show) {
	document.getElementById(hide).style.display="none";
	document.getElementById(show).style.display="block";
}

function showFeeOption(myRadio) {
	if (myRadio.value == "dynamic") {
		replace("fee_manual", "fee_dynamic")
		document.getElementById("fee_unit").value = "BTC_KB"
	}
	else {
		replace("fee_dynamic", "fee_manual")
		document.getElementById("fee_unit").value = "SAT_B"
	}
}

function loadDynamicFees() {
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			let feesJson = JSON.parse(this.responseText);
			let blocks = "Dynamic fees are currently not available."
			if (feesJson.hasOwnProperty('feerate')) {
				let fee = feesJson.feerate
				blocks = feesJson.blocks
				document.getElementById("fee_rate_dynamic_text").innerHTML = fee.toString().concat(" BTC/kB")
				document.getElementById("fee_rate_dynamic").value = fee
			}
			else
			{
				document.getElementById("fee_rate_dynamic_text").innerHTML = "will be set by Bitcoin Core automatically"
				document.getElementById("fee_rate_dynamic").value = 0
			}
			document.getElementById("blocks").innerHTML = "Confirmation time: ".concat(blocks, " blocks")
		}
	}
	var request = "/get_fee/".concat(document.getElementById("slider_confTime").value)
	xhttp.open("GET", request, true);
	xhttp.send();
	}
	
document.addEventListener("DOMContentLoaded", loadDynamicFees)
document.getElementById("fee_option_dynamic").checked = true
document.getElementById("fee_unit").value = "BTC_KB"
document.getElementById("slider_confTime").value = 6
</script>


<script type="module">

import QrScanner from "/static/qr/qr-scanner.min.js";
QrScanner.WORKER_PATH = '/static/qr/qr-scanner-worker.min.js';

const video = document.getElementById('qr-video');

const scanner = new QrScanner(video, result => {
	scanner.stop();
	document.getElementById("popup").style.display = 'none';
		let addr = result;
		if(addr.indexOf("bitcoin:") >= 0){
			addr = addr.substr(addr.indexOf("bitcoin:")+8);
		}
		let arr = addr.split("?");
		addr = arr[0]
		document.getElementById("address").value = addr;
		let evt = new Event('input');
		document.getElementById("address").dispatchEvent(evt);
		if(arr.length > 1){
			arr = arr[1].split("&");
			arr.forEach((e)=>{
				if(e.startsWith("amount=")){
					document.getElementById("amount").value = parseFloat(e.substr(7));
					let evt = new Event('input');
					document.getElementById("amount").dispatchEvent(evt);
				}
			});
		}
});
document.getElementById("scanme").addEventListener("click", function(){
	try{
		scanner.start();
		document.getElementById("popup").style.display = 'flex';
	}catch(e){
		alert("Can't start the QR scanner!\n\n" + e);
	}
});
document.getElementById("popup").addEventListener("click", function(){
	document.getElementById("popup").style.display = 'none';
	scanner.stop();
});
</script>

<script>
	var spend_coins = new Vue({
		el: '#spend_coins',
		delimiters: ["[[", "]]"],
		data: {
			unspents: {{ wallet.cli.listunspent(0)|tojson }},
			coinselectionActive: false,
			address: "",
			amount: 0,
			wallet_availablebalance: {{wallet.availablebalance}},
			block_explorer: "{{specter.explorer}}",
			unit: "sat"
		},
		computed: {
			selected_coins_sum: function() {
				amount_sum = 0
				for(var i=0;i<this.unspents.length;i++){
					if (this.unspents[i].selected) {
						amount_sum += this.unspents[i].amount
					}
				}
				return amount_sum
			},
			max_amount_sendable: function() {
				if (!this.coinselectionActive) {
					return this.wallet_availablebalance
				} else {
					return Math.min(this.selected_coins_sum, this.wallet_availablebalance)
				}
			},
			needs_more_selected_coins: function() {
				return (this.unit == 'sat' ? this.amount / 100000000 : this.amount) > this.selected_coins_sum && this.coinselectionActive
			},
			above_wallet_amount: function() {
				return (this.unit == 'sat' ? this.amount / 100000000 : this.amount) > this.wallet_availablebalance
			}
		},
		methods: {
			toggleExpand: function() {
				this.coinselectionActive = !this.coinselectionActive
				// unselect all choices
				if (!this.coinselectionActive) {
					for(var i=0;i<this.unspents.length;i++){
						this.unspents[i].selected = false
					}
				}
			}
		}
	})
</script>
{% endblock %}
