{% extends "base.html" %}
{% block main %}
<h1>{{wallet.name}}</h1>
{% from 'includes/components/wallet_menu.jinja' import wallet_menu %}
{{ wallet_menu("wallet_tx", wallet_alias) }}
{% if ( wallet.fullbalance ) is not none %}
{% from 'includes/components/total_wallet_balances.jinja' import total_wallet_balances %}
{{ total_wallet_balances(wallet, specter) }}
<br>
<h1>Latest transactions</h1>
<div class="table-holder">
	{% from 'includes/components/tx_table.jinja' import tx_table %}
	{% from 'includes/components/full_tx_table.jinja' import full_tx_table %}
	{{ tx_table(
		wallet.txlist == [],
		full_tx_table(wallet, specter)
	) }}
</div>
{% endif %}

{% endblock %}