{% extends "devhelp/components/devhelp_tab.jinja" %}
{% block title %}address-data{% endblock %}
{% set tab = 'html' %}
{% block content %}

<h1>address-label</h1>

{% include "includes/address-label.html" %}


<code class="html"><textarea rows="40" cols="90" style="height: 200px">
<address-label 
    data-address="lq1qq259d9ahc6apt9fcgjx4fmfl5lsfr2vkzrvyy2uuukhrreulzs7xxsyv70jzt0h7rv2s7dwsll8ln2ypf4qujur5m94edx6jv" 
    data-label="Address #0" 
    data-wallet="myliquidhot">
</address-label>
</textarea>    
</code>

<p>
Address-label changes the label of an address. It's using Ajax-call to:
<ul>
    <li>
        <code>{{ url_for('wallets_endpoint_api.get_label', wallet_alias='WALLET_ALIAS') }}</code>
    </li>
    <li>
        <code>{{ url_for('wallets_endpoint_api.set_label', wallet_alias='WALLET_ALIAS') }}</code>
    </li>
</ul>
wallet-alias and address need to be defined in order to get a valid response. You can do that here:
</p>
{{ wallet.alias }}

WalletAlias: <input type="text" id="walletalias" value="{{ wallet.alias }}" site=50/> <button id="setwalletalias">SetWalletAlias</button>
<br>
Address: <input type="text" id="address" site=50/> <button id="setaddress">SetAddress</button>


<address-label 
    id="someid"
    data-address="lq1qq259d9ahc6apt9fcgjx4fmfl5lsfr2vkzrvyy2uuukhrreulzs7xxsyv70jzt0h7rv2s7dwsll8ln2ypf4qujur5m94edx6jv" 
    data-label="Address #0" 
    data-wallet="myliquidhot">
</address-label>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var setWalletAliasButton = document.getElementById('setwalletalias')
    
    setWalletAliasButton.addEventListener("click", (event) => {
        var walletAlias = document.getElementById('walletalias').value
        document.getElementById('someid').setAttribute("data-wallet", walletAlias)
        console.log(walletAlias)
    });

    var setAddressButton = document.getElementById('setaddress')
    
    setAddressButton.addEventListener("click", (event) => {
        var address = document.getElementById('address').value
        document.getElementById('someid').setAttribute("data-address", address)
        console.log(walletAlias)
    });
    
</script>
{% endblock %}
