<style>
    #onion-address-container {
        position: absolute;
        width: 420px;
        top: 10px;
        padding: 10px;
        margin: 10px;
        background: #7D4698;
        border-radius: 10px;
        z-index: 1;
        border: 1px solid #aaa;
    }

    #tor-btn {
        position: absolute;
        width: 24px;
        margin-right: 50px;
        z-index: 2;
        border-radius: 10px;
    }

    #tor-toggle-btn {
        cursor: pointer;
        position: relative;
        padding: 10px 40px 10px 20px;
    }

    .onion-address {
        word-wrap: break-word;
        color: #fff;
        font-size: 0.7em;
        text-decoration: none;
    }

    .onion-address:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .dot {
        cursor: pointer;
        height: 8px;
        width: 8px;
        position: absolute;
        border-radius: 50%;
        display: inline-block;
        top: 9px;
        left: 36px;
        z-index: 3;
    }

    .dot-on {
        {% if tor_enabled %}
            {% if specter.config.auth != "none" %}
                background-color: #0f0;
            {% else %}
                background-color: yellow;
            {% endif %} 
        {% else %}
            background-color: #ccc;
        {% endif %}
    }

    .dot-off {
        {% if tor_enabled %}
            background-color: #f00;
        {% else %}
            background-color: #ccc;
        {% endif %}
    }

    .tor-btn {
        font-weight: bolder;
        margin-top: 10px;
        width: 180px;
        border: none;
        font-size: 0.8em;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #59316B;
        background: #7D4698;
    }

    .tor-btn:hover {
        cursor: pointer;
        background: #59316B;
    }
</style>
<div id="onion-address-container" class="hidden optional">
    <h1 style="font-size: 1.2em; color: #fff; margin-bottom: 5px;">
    Tor management panel
    </h1>
    <p style="font-size: 0.85em; color: #fff; margin: 10px;">
    Here you can test your connection to Tor and manage your Specter hidden service.
    </p>
    <div class="center" style="border: 1px solid #fff; border-radius: 4px; padding: 10px;">
        {% if tor_service_id %}
            {% if specter.config.auth == "none" %}
                <p style="color: #fff;">
                ⚠️ Warning!<br>
                Your are running Specter over Tor with no authentication settings configured.<br>
                This means your Specter instance is accessible to anyone with the .onion URL.<br>
                This .onion URL is publicly exposed and indexed on the Tor network - it is not secret!<br>
                It is stronly adviced that you configure proper authentication while running Specter behind a Tor hidden service.<br>
                Please go to Settings -> Authentication and set up an authentication method.
                </p>
            {% endif %}
                <span style="font-size: 1em; color: #fff; margin-bottom: 5px;">
                Specter hidden service is running at:
                </span>
                <span title="Copy Tor address" class="onion-address centered" onclick="copyText('{{ tor_service_id }}.onion', 'Copied Tor hidden service address: {{ tor_service_id }}.onion')">
                {{ tor_service_id }}.onion
                </span>
        {% else %}
            <span style="font-size: 1em; color: #fff; margin-bottom: 5px;">
                Specter hidden service is off...
            </span>
        {% endif %}
        <form action="?" class="center">
            <button class="tor-btn" type="submit" name="action" value="testtor">Test Connection</button>
            {% if current_user.is_admin and (tor_service_id and tor_service_id + '.onion' not in request.url) %}
                <button class="tor-btn" type="submit" name="action" value="stoptor">Stop Hidden Service</button>
            {% elif current_user.is_admin and ('.onion' not in request.url) %}
                <button class="tor-btn" type="submit" name="action" value="starttor">Start Hidden Service</button>
            {% endif %}
        </form>
    </div>
</div>
<div class="settings-bar-btn" id='tor-toggle-btn'>
    <img id="tor-btn" src="{{ url_for('static', filename='img/tor.svg') }}"/>
    <span class="dot {% if tor_service_id %}dot-on{% else %}dot-off{% endif %}" id="tor-symbol-status-dot"></span>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let torToggleBtn = document.getElementById('tor-toggle-btn');
        let torDataContainer = document.getElementById('onion-address-container');

        function toggleTorPopup() {
            torDataContainer.style.display = torDataContainer.style.display == 'block' ? 'none' : 'block';
        }
        torToggleBtn.addEventListener("click", toggleTorPopup);
        let right = 0;
        for(let el of document.getElementsByClassName('settings-bar-btn')) {
            if (el.id != 'price-bar-btn') {
                right += el.offsetWidth;
            }
        }
        torDataContainer.style.right = (right - 41) + 'px';
        window.addEventListener('click', function(e){   
            if (!torDataContainer.contains(e.target) && !torToggleBtn.contains(e.target)){
                if (torDataContainer.style.display == 'block') {
                    toggleTorPopup();
                }
            }
        });
    });
</script>