{% set node = specter.node %}
{% if specter.node.is_running %}
    <div id="active-node" onclick="showPageOverlay('node-info-popup');document.getElementById('side-content').classList.remove('active');" class="item core flex flex-row items-center cursor-pointer">
        {% include node.node_logo_template() %}
        <div class="hidden" id="node-info-popup">
            {% include node.node_info_template() %}
        </div>
        <div class="text-lg ml-2">
            {{ node.name }}
        </div>
    </div>
{% else %}
    <div class="flex ml-2 gap-2">
        <img src="{{ url_for('static', filename='img/disconnected.svg') }}" width="32px" height="32px">
        <a id="no-node-connection" href="{{ url_for('nodes_endpoint.node_settings', node_alias=node.alias) }}">  
            <div class="hover:bg-dark-700 rounded-lg p-1 cursor-pointer">{{ _("Click to configure") }}</div>
        </a>
    </div>
{% endif%}
