<div class="p-4 w-200 flex flex-col">
    <h1 class="mb-2">{{ _("Spectrum Node Info") }}</h1>
    {% if specter.chain %}
        <table>
            <tr> <td data-style="text-align: left;">{{ _("Network") }}:</td> <td data-style="text-align: right;" id="node-info-specter-chain">{{specter.chain}}</td> </tr>
            <tr> <td data-style="text-align: left;">{{ _("Blocks count") }}:</td> <td data-style="text-align: right;">{{specter.info['blocks']}}</td> </tr>
            <tr> <td data-style="text-align: left;">{{ _("Host") }}:</td> <td data-style="text-align: right;" id="node-info-specter-chain">{{specter.node.host}}</td> </tr>
            <tr> <td data-style="text-align: left;">{{ _("Port") }}:</td> <td data-style="text-align: right;" id="node-info-specter-chain">{{specter.node.port}}</td> </tr>
            <tr> <td data-style="text-align: left;">{{ _("SSL") }}:</td> <td data-style="text-align: right;" id="node-info-specter-chain">{{specter.node.ssl}}</td> </tr>
            <tr> <td data-style="text-align: left;">{{ _("Node uptime") }}:</td> <td data-style="text-align: right;">~ {{(specter.info['uptime'] / 60 // 60) | int }} {{ _("Hours") }}</td> </tr>
        </table>

        <p class="text-sm m-4" id="total_supply" data-style="line-height: 2.5;"></p>
        <div onclick="fetchTotalSupply()" class="button text-base">
            {{ _("Run the numbers") }}
            <tool-tip>
                <span slot="paragraph">
                    {{ _("Calculate the total Bitcoin supply.") }}
                </span>
            </tool-tip>
        </div>
    {% if current_user.is_admin %}
        <div class="button text-base">
            <a id="active-node-settings-btn" href="{{ url_for('nodes_endpoint.node_settings', node_alias=specter.node.alias) }}">
                <div class="flex items-center">
                    {{ _("Configure connection") }}
                    <img src="{{ url_for('static', filename='img/gear.svg') }}" class="svg-white">
                </div>
            </a>
        </div>
    {% endif %}
        <script>
            let totalUserBalance = parseFloat(parseFloat("{{ specter.wallet_manager.wallets.values() | sum(attribute='fullbalance') }}").toFixed(8));
            async function fetchTotalSupply() {
                document.getElementById('total_supply').innerText = `{{ _("Calculating ... (this might take a few minutes)") }}`;
                try {
                    const response = await fetch(
                        "{{ url_for('wallets_endpoint_api.txout_set_info') }}",
                        {
                            method: 'GET'
                        }
                    ).catch((err) => {
                        showError(err)
                        return
                    });
                    let result = await response.json();
                    console.log(result)
                    if (result.error) {
                        showError(result.error)
                        return
                    }
                    if (totalUserBalance==0) {
                        document.getElementById('total_supply').innerText = "Your wallet holds 0 BTC. Get off zero!"
                        return
                    }
                    let totalSupply = result.total_amount
                    console.log(typeof(totalSupply))
                    console.log(typeof(totalUserBalance))

                    let userBalanceFromTotal = ((totalUserBalance/totalSupply) * 100).toFixed(1)
                    console.log(userBalanceFromTotal)
                    document.getElementById('total_supply').innerHTML = `
                    {{ _("Total supply: ") }} ${result.total_amount} BTC<br>
                    {{ _("Your wallets hold: ") }} ${totalUserBalance} BTC<br> 
                    {{ _("which is ") }} ${userBalanceFromTotal} % of the total supply
                    `;
                } catch(e) {
                    console.log('Caught error:', e);
                    showError(e)
                    return { success: false, error: e };
                }
            }
        </script>
    {% endif %}
</div>
