{# 
    coin_selection_item - UTXO coin selection table row.
    Parameters:
    - txid: The transaction ID.
    - amount: The transaction amount.
    - address: The address associated with the transaction.
    - label: The label of `address` (equal to `address` if no label exists).
    - explorer: explorer url.
 #}
{% macro coin_selection_item(txid, vout, amount, address, label, explorer) -%}
    {% from 'wallet/components/explorer_link.jinja' import explorer_link %}
    <tr>
        <td>
            <input class="checkbox coin_select_checkbox" type="checkbox" name="coinselect" value="{{ [txid, vout, amount] | join(', ') }}"  onchange='updateCoinSelect(this)'>
        </td>
        <td class="tx scroll">
            {{ explorer_link('tx', txid, txid, explorer) }}
        </td>
        <td class="tx scroll">
            {{ explorer_link('address', address, (label if label != '' else address), explorer) }}
        </td>
        <td>{{ amount | btcunitamount }}</td>
    </tr>
{%- endmacro %}
