<div>
    {% from 'wallet/send/new/components/coin_selection_table.jinja' import coin_selection_table %}
    {{ coin_selection_table(wallet.utxo, specter.explorer) }}
    <br>
</div>

<script>
    var coinSelectAmount = 0.0;

    function toggleExpand() {
        if (isCoinSelectionActive()) {
            setVisibility('coin_selection_table', 'none');
        } else {
            setVisibility('coin_selection_table', 'block');

            let coins = document.getElementsByClassName('coin_select_checkbox');
            // unselect all choices
            for(var i = 0; i < coins.length; i++){
                coins[i].checked = false;
            }
        }
        validateForm();
    }

    function updateCoinSelect(coin) {
        let coinAmount = parseFloat(coin.value.split(', ')[2]);
        if (coin.checked) {
            coinSelectAmount += coinAmount;
        } else {
            coinSelectAmount -= coinAmount;
        }
        coinSelectAmount = parseFloat(coinSelectAmount.toFixed(8));
        validateForm();
    }

    function isCoinSelectionActive() {
        return document.getElementById("coin_selection_table").style.display !== 'none';
    }

    function getSpendableAmount(unit) {
        let spendableAmount;
        if (!isCoinSelectionActive()) {
            spendableAmount = '{{ wallet.full_available_balance | btcamount }}';
        } else {
            spendableAmount = coinSelectAmount;
        }

        return (unit == 'sat' ? spendableAmount * 100000000 : spendableAmount);
    }

    function shouldSelectMoreCoins(unit, amount) {
        return (unit == 'sat' ? amount / 100000000 : amount) > coinSelectAmount && isCoinSelectionActive()
    }
</script>
