{% extends "wallet/components/wallet_tab.jinja" %}
{% set tab = 'wallet_receive' %}
{% block content %}
	<style>
		.update, .cancel, .edit {
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			margin-top: 5px;
		}

		.label {
			text-align: center;
			font-size: 1.5em;
		}
	</style>

	{% include "includes/hwi/hwi.jinja" %}

	<div class="center">
	<form action="./" method="POST">
		{% set address_label = wallet.getaddressname(wallet['address'], wallet['address_index']) %}
		{% from 'wallet/components/editable_label.jinja' import editable_label %}
		{{ editable_label(address_label, -1) }}
	</form><br><br>

	<qr-code value="{{'bitcoin:'+wallet['address']+'?index='+(wallet['address_index']|string) }}" width="256"></qr-code>

	<br>
	<div class="note">
		<center>
			Specter can verify this address if you scan it.<br>
			It has an address index included in the QR code.
		</center>
	</div>
	<div class="padded">{{wallet['address']}}</div>
	</div>
	<form action="./" method="POST">
		<button type="submit" name="action" value="newaddress" class="btn centered">Get new address</button>&nbsp;
		{% if wallet['type'] == 'simple' %}
			<button type="button" onclick="displayAddressOnDevice()" class="btn centered">Display Address on Device</button>&nbsp; &nbsp; &nbsp;
		{% endif %}
	</form>
{% endblock %}
