{% extends "base.jinja" %}
{% block main %}
    <img src="{{ url_for(service.id +'_endpoint' + '.static', filename=service.logo) }}" width="300"/>    
    {% from 'ruderboot/components/ruderboot_menu.jinja' import ruderboot_menu with context %}
    {{ ruderboot_menu(tab) }}
    {% block content %}
    {% endblock %}
{% endblock %}