recursive-include src/boatacccorp/spext/ruderboot/templates *
recursive-include src/boatacccorp/spext/ruderboot/static *
recursive-include src/boatacccorp/spext/ruderboot/*/LC_MESSAGES *.mo
recursive-include src/boatacccorp/spext/ruderboot/translations/*/LC_MESSAGES *.po
include requirements.txt
