{% extends "base.jinja" %}
{% block main %}
    <h1 id="title">Vaultoro</h1>
    {% if tab == 'trade' %}
        {% include "vaultoro/includes/direct-buy.html" %}
    {% endif %}
    {% from 'vaultoro/components/vaultoro_menu.jinja' import vaultoro_menu %}
    {{ vaultoro_menu(tab) }}
    {% block content %}
    {% endblock %}
{% endblock %}

