{% extends "base.jinja" %}
{% block main %}
	<div class="spacer"></div>
	<h1>Select the type of the wallet</h1>
	<div>
		<center>
			<span>Adding a wallet with existing funds?</span>
			<div class="tool-tip">
				<i class="tool-tip__icon">i</i>
				<p class="tool-tip__info">
					<span class="info">
						<span class="info__title">Importing an existing wallet?<br></span>
						After choosing device(s), click continue, then just select the:<br> "Scan for existing funds" checkbox on the next screen.
						<br>
						{% if specter.info["pruned"] %}
							<span class="warning" style="display: inline-block;">&#9432;<br>
								Please Note:<br>You are using a pruned node. Wallet history may not fully appear.
							</span>
						{% endif %}
					</span>
				</p>
			</div>
		</center>
	</div><br>
	{% if specter.device_manager.devices|length < 2 %}
		<span class="warning" style="display: inline-block;">&#9432;<br>
			You must have at least 2 devices to create a multisig.
		</span>
	{% endif %}
	<nav class="row">
		<a href="{{ url_for('singlesig_setup_wizard') }}" class="small-card">
			<img src="{{ url_for('static', filename='img/wizard.svg') }}"/>
			New wallet wizard<br><br>
		</a>
		<a href="./simple/" class="small-card">
			<img src="{{ url_for('static', filename='img/simple_icon.svg') }}"/>
			Single key wallet
		</a>
		<a class="small-card" {% if specter.device_manager.devices|length > 1 %}href="./multisig/"{% else %}style="background: transparent; opacity: 0.2;{% endif %}">
			<img src="{{ url_for('static', filename='img/multisig_icon.svg') }}"/>
			Multisignature wallet<br><br>
		</a>
	</nav>
	<div class="raw">
		<button onclick="showPageOverlay('account_map_import')" type="button" class="btn centered padded">
		Import from wallet software
		<div class="tool-tip">
			<i class="tool-tip__icon">i</i>
			<p class="tool-tip__info">
				<span class="info">
					<span class="info__title">Import From Wallet Software<br> <br></span>
					Click here to import an existing wallet from a wallet software like Fully-Noded or another Specter instance.
					<br>
					{% if specter.info["pruned"] %}
						<span class="warning" style="display: inline-block;">&#9432;<br>
							Please Note:<br>You are using a pruned node. Wallet history may not fully appear.
						</span>
					{% endif %}
				</span>
			</p>
		</div>
		</button>
	</div>
	{% include "wallet/new_wallet/components/import_wallet_account_map.jinja" %}
	<div class="note">
		<center>Multisig is better for larg-ish amounts.</center>
	</div>
{% endblock %}