{% extends "base.jinja" %}

{% block main %}
	<h1>{{ _("Select the type of wallet") }}</h1>

	<p>
		{{ _("Learn more about ") }} 
		<a href="https://specter-desktop-docs.netlify.app/multisig-guide/" target="_blank">{{ _("multi signature wallets here") }}</a>.
	</p>

	<nav class="grid gap-5 grid-cols-2 mt-10 mb-5">
		<a href="./simple/" class="selection" data-cy="singlesig-wallet-btn">
			<p>&nbsp;</p>
			<img src="{{ url_for('static', filename='img/key.svg') }}" />
			<p>{{ _("Single Signature") }}</p>
		</a>
		<a href="./multisig/" class="selection" data-cy="multisig-wallet-btn">
			<p>&nbsp;</p>
			<img src="{{ url_for('static', filename='img/two-keys.svg') }}" />
			<p>{{ _("Multiple Signature") }}</p>
		</a>
	</nav>

	<div>
		<button class="selection-button" onclick="showPageOverlay('account_map_import')" type="button">
			{{ _("Import from wallet software") }}
		</button>

		<!-- <tool-tip width="200px"> -->
					<!-- <span slot="paragraph"> -->
		<!-- 		{{ _("Click here to import an existing wallet from a wallet software like Electrum, Fully-Noded, Sparrow Wallet, or another Specter instance.") }} -->
		<!-- 		{% if specter.info["pruned"] %} -->
		<!-- 			<span class="warning"><img src="{{ url_for('static', filename='img/info_sign.svg') }}"/><br> -->
		<!-- 				{{ _("Please Note: You are using a pruned node. Wallet history may be incomplete.") }} -->
		<!-- 			</span> -->
		<!-- 		{% endif %} -->	
					<!-- </span> -->
		<!-- </tool-tip> -->
	</div>

	<div class="mt-10">
		<div class="inline">{{ _("Adding a wallet with existing funds?") }}</div>

		<tool-tip width="200px">
			<h4 slot="title">{{ _("Importing an existing wallet?") }}</h4>
			<span slot="paragraph">
				{{ _('After choosing your device(s), select the "Scan for existing funds" checkbox on the next screen.') }}

				{% if specter.info["pruned"] %}
					<span class="warning"><img src="{{ url_for('static', filename='img/info_sign.svg') }}"/><br>
						{{ _("Please Note: You are using a pruned node. Wallet history may be incomplete.") }}
					</span>
				{% endif %}
			</span>
		</tool-tip>
	</div>

	{% include "wallet/new_wallet/components/import_wallet_account_map.jinja" %}

{% endblock %}
