{# 
    tx_table - Empty table component
    Parameters:
    - specter: Specter instance
    - isEmpty: Boolean, true if should show an item indicating empty list, false if should show the list contents.
    - content: The content of the table (its rows).
    - includeValidatedBlockhash: boolean
 #}
{% macro tx_table(specter, isEmpty, content, includeValidatedBlockhash) -%}
    <table>
        <thead>
            <tr>
                <th></th>
                <th class="optional">TxID</th>
                <th class="optional">Address</th>
                <th>Amount</th>
                <th>Status</th>
		{% if includeValidatedBlockhash %}
		  <th class="optional">
		      <div class="tool-tip">{% include "includes/merkletooltip.html" %}</div>
		      Block Hash
		  </th>
	        {% endif %}
            </tr>
	</thead>
	<tbody>
	    {% if not isEmpty %}
                {{ content }}
            {% else %}
                <td></td>
                <td>No transactions yet.</td>
                <td class="optional"></td>
                <td class="optional"></td>
		{% if includeValidatedBlockhash %}
		  <td class="optional"></td>
		{% endif %}
                <td></td>
	    {% endif %}
	</tbody>
    </table>
    {% include "includes/tx-data.html" %}
    {% include "includes/explorer-link.html" %}
    <div id="tx-data-popup" class="hidden">
    </div>
    <script>
        function showTxData(txid, wallet) {
            if (wallet) {
                let txDataPopup = document.getElementById('tx-data-popup');
                txDataPopup.innerHTML = `<tx-data data-txid="${txid}" data-tx-wallet="${wallet}"></tx-data>`;
                showPageOverlay('tx-data-popup')
            } else {
                copyText(txid, `Copied transaction: ${ txid }`);
            }
        }
    </script>
{%- endmacro %}
