{# 
    tx_table - Empty table component
    Parameters:
    - isEmpty: Boolean, true if should show an item indicating empty list, false if should show the list contents.
    - content: The content of the table (its rows).
    - includeValidatedBlockhash: boolean
 #}
{% macro tx_table(isEmpty, content, includeValidatedBlockhash) -%}
    <table>
        <thead>
            <tr>
                <th></th>
                <th class="optional">TxID</th>
                <th class="optional">Address</th>
                <th>Amount</th>
                <th>Status</th>
		{% if includeValidatedBlockhash %}
		  <th class="optional">
		      <div class="tool-tip">{% include "includes/merkletooltip.html" %}</div>
		      Block Hash
		  </th>
	        {% endif %}
            </tr>
	</thead>
	<tbody>
	    {% if not isEmpty %}
                {{ content }}
            {% else %}
                <td></td>
                <td>No transactions yet.</td>
                <td class="optional"></td>
                <td class="optional"></td>
		{% if includeValidatedBlockhash %}
		  <td class="optional"></td>
		{% endif %}
                <td></td>
	    {% endif %}
	</tbody>
    </table>
{%- endmacro %}
