{% extends "base.jinja" %}

{% block main %}
    <h1>{{ _('👋 Welcome to Specter') }}</h1>

    {% if ('://localhost:' not in url_for('index', _external=True) and '://127.0.0.1:' not in url_for('index', _external=True)) and specter.hwi_bridge_url != "http://127.0.0.1:25441/hwi/api/" %}
        {% include welcome_vm.specter_remote_include %}
    {% endif %}

    <div class="max-w-prose">
        <p>{{ _("Specter empowers individuals, communities and businesses to control their own Bitcoin keys, improving their security and enabling them to manage their bitcoin with greater control.") }}</p>
        <!-- <p>{{ _("Let’s get you setup. First, let's decide whether you'll be using your own Bitcoin server, or whether you'd like to use one run by a trusted Bitcoin company.") }}</p> -->
    </div>

    {% if not specter.chain %}
        {% include welcome_vm.get_started_include %}
    {% else %}
        {% include welcome_vm.tick_checkboxes_include %}
    {% endif %}
    {% include welcome_vm.remaining_remarks_include %}
{% endblock %}
