{% extends "base.jinja" %}
{% block main %}
    <h1>{{ _("Setting up electrum as a new device") }}</h1>
    <form action="{{ url_for('devices_endpoint.new_device_manual_electrum') }}" 
          method="POST" 
          oninput="xpubs.value =`[${root_fingerprint.value}/${derivation_path.value.replace('m/', '')}]${xpub.value}`"  >
        <input type="hidden" class="csrf-token" name="csrf_token" value="{{ csrf_token() }}"/>

        <div style="width: auto; margin: 40px;" class="card center" >
            <h2 style="max-width: 500px; margin: auto;">{{ _("Name your Device: ") }}<input type="text" name="device_name" placeholder="My electrum wallet" id="device_name" required/></h2>
            <br>
            <input type="hidden" id="device_type" name="device_type" value="electrum">  
            <h4>{{ _("1. Show the master public key and derivation path") }}</h4>
        
            <img src="{{ url_for('static', filename='img/electrum_manual/1.png') }}" alt=_("Select Wallet  -  Information")>  
            <img src="{{ url_for('static', filename='img/electrum_manual/2a.png')}}"   alt=_("Copy the master public key and derivation path")>  <br>

            {{ _("Master public key:") }}<br>
            <input   id="xpub" name="xpub"   placeholder="Your master public key" style="max-width: 500px;   margin-right: 10px"  required>  <br>
            {{ _("Derivation path:") }}<br>
            <input   id="derivation_path" name="derivation_path"   placeholder="Your derivation path" value="m/0'" style="max-width: 500px;  margin-right: 10px"  required>  <br>

            <h4>{{ _("2. Show the root fingerprint") }}</h4>

            <img src="{{ url_for('static', filename='img/electrum_manual/3.png') }}" alt=_("View -  Show Console")>  
            <img src="{{ url_for('static', filename='img/electrum_manual/4.png') }}" alt=_("Paste in console 'wallet.get_keystores()[0].get_root_fingerprint()'")>  
            <br>
            <div class="note">
            {{ _("Paste in console") }}:<br>
                <pre>
wallet.get_keystores()[0].get_root_fingerprint()                </pre>
            </div>
            {{ _("Root fingerprint:") }}<br>
            <input   id="root_fingerprint" name="root_fingerprint"   placeholder="Your root fingerprint"   style="max-width: 500px;  margin-right: 10px"  required>  <br>

            <input type='hidden'  id="xpubs" name="xpubs" >   
            
        </div><br>
        <button type="submit" class="btn centered" name="action" value="newcolddevice" onsubmit="showPacman()">{{ _("Continue") }}</button>        
    </form>
{% endblock %}
