{% extends "base.jinja" %}
{% block main %}
	{% include "includes/hwi/hwi.jinja" %}
	{% include "includes/qr-scanner.html" %}

    <h1>{{ _("Setting up electrum as a new device") }}</h1>
    <form action="{{ url_for('devices_endpoint.new_device_manual', device_type='electrum') }}" oninput="xpubs.value =`[${root_fingerprint.value}/0']${xpub.value}`"  method="POST" >
			<input type="hidden" class="csrf-token" name="csrf_token" value="{{ csrf_token() }}"/>


        <div style="width: auto; margin: 40px;" class="card center" >
            <div class="row">
                <input type="text" id="device_name" name="device_name" value="{{ device_name }}" placeholder="Name your electrum wallet">
            </div>           
            <input type="hidden" id="device_type" name="device_type" value="electrum">  
            <h4>{{ _("1. Get the master public key") }}</h4>
                <img src="{{ url_for('static', filename='img/electrum_manual/1.png') }}" alt=_("Select Wallet  -  Information")>  
                <img src="{{ url_for('static', filename='img/electrum_manual/2a.png')}}"   alt=_("Copy the master public key and derivation path")>  
                <input   id="xpub" name="xpub"   placeholder="Your master public key" >  
            <h4>{{ _("2. Show root fingerprint") }}</h4>
                <img src="{{ url_for('static', filename='img/electrum_manual/3.png') }}" alt=_("View -  Show Console")>  
                <img src="{{ url_for('static', filename='img/electrum_manual/4.png') }}" alt=_("Paste in console 'wallet.get_keystores()[0].get_root_fingerprint()'")>  
                <br>
                <div class="note">
                {{ _("Paste in console") }}:<br>
                    <pre>
wallet.get_keystores()[0].get_root_fingerprint()
                    </pre>
                </div>
                <input   id="root_fingerprint" name="root_fingerprint"   placeholder="Your root fingerprint" >   

                <input type='hidden'  id="xpubs" name="xpubs" >   
                
        </div><br>
        <button type="submit" class="btn centered" name="action" value="newcolddevice" onsubmit="showPacman()">{{ _("Continue") }}</button>
        
    </form>

{% endblock %}
