{% extends "wallet/components/wallet_tab.jinja" %}
{% set tab = 'wallet_addresses' %}
{% block content %}
	<style>
		.address {
			text-decoration: none;
			color: inherit;
			float: right;
			margin-left: 10px;
		}
		.table-holder .balance {
			display: inline;
		}
		.label {
			text-align: left;
			padding-left: 0;
			float: left;
			width: auto;
		}
		.update {
			float: left;
			margin-right: 5px;
			margin-left: 5px;
		}
		.cancel {
			float: left;
		}
		.edit {
			float: right;
			margin-top: 8px;
		}
	</style>
	{% from 'wallet/history/components/total_wallet_balances.jinja' import total_wallet_balances %}
	{{ total_wallet_balances(wallet, specter) }}
	<div style="padding: 0 30px; width: 100%;">
		<nav class="row">
			<a href="./?all=True&view={{viewtype}}" class="btn radio left {% if alladdresses %}checked{% endif %}">History</a>
			<a href="./?all=False&view={{viewtype}}" class="btn radio right {% if alladdresses != True %}checked{% endif %}">UTXO</a>
		</nav>
		<span>View Type: </span><br>
		<div class="dropdown" style="margin-top: 5px;">
			<button class="btn radio dropbtn">{{ viewtype | title }} View &#9660;</button>
			<div class="dropdown-content">
				<a href="./?all={{alladdresses}}&view=address">Address View</a>
				<a href="./?all={{alladdresses}}&view=label">Labels View</a>
			</div>
		</div>
	</div>
	{% from 'wallet/components/editable_label.jinja' import editable_label %}
	{% from 'wallet/components/explorer_link.jinja' import explorer_link %}
	{% from 'wallet/history/components/tx_table.jinja' import tx_table %}
	{% from 'wallet/history/addresses/components/account_tx_table.jinja' import account_tx_table %}
	{% set is_address_view = viewtype == "address" %}
	{% set accounts = (wallet.active_addresses if is_address_view else wallet.labels) if alladdresses else (wallet.utxoaddresses if is_address_view else wallet.utxolabels)  %}
	{% for account in accounts | reverse %}
		{% if alladdresses or (wallet.balanceonaddr(account) > 0 if is_address_view else wallet.balanceonlabel(account) > 0) %}
			{% set account_label = wallet.getaddressname(account, (wallet.active_addresses | length - loop.index0 - 1) if alladdresses else -1) if is_address_view else account %}
			<div class="table-holder">
				<br>
				<form action="./?all={{alladdresses}}&view={{viewtype}}" method="POST">
					<br>
					<input type="hidden" name="account" value="{{ account }}"/>
					{{ editable_label(account_label, loop.index0) }}
					<br>
				</form><br><br>
				{% if is_address_view %}
					<span class="address">{{ explorer_link('address', account, account, specter.explorer) }}</span>
				{% endif %}
				<p class="balance">Balance: 
					{{wallet.balanceonaddr(account) if is_address_view else wallet.balanceonlabel(account) | btcamount}} 
					{% if specter.chain !='main' %}t{%endif%}BTC
				</p>
				<br><br>
				{{ 
					tx_table(
						not (wallet.txonaddr(account) if is_address_view else wallet.txonlabel(account) > 0),
						account_tx_table(account, 'history' if alladdresses else 'utxo', viewtype, wallet, specter)
					) 
				}}
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
