{% if psbt is defined %}
    <div id="hwi_sign_tx" class="flex-center flex-column hidden">
        <h2>Sign Transaction</h2><br>
        <div>
            Please confirm transaction on your <span id="hwi_device_name">device</span>
        </div>
        <div class="flex-center">
            <img src="/static/img/loader_boxes.svg"/>
        </div>
    </div>

    <script>
        function signTx(callback, device_type, psbt) {
            beginDetectWallet(device_type);
            document.getElementById("hwi_unlocked__submit").addEventListener("click", async function(e) {
                e.preventDefault();
                document.getElementById("hwi_device_name").textContent = capitalize(device_type);
                showPageOverlay(HWI_POPUPS.SIGN);

                var signed_tx = await hwiSendPsbt(psbt);
                callback(signed_tx)

                hidePageOverlay();
            });
        }
    </script>
{% endif %}