<div id="hwi_unlocked" class="hidden">
    <h2>USB Wallet Unlocked</h2>
    <div id="hwi_unlocked__content" class="flex-center flex-column">
        <div>
            <br/>
            Your <span id="hwi_unlocked__type"></span> is now ready<br/>
            <br/>
        </div>
        <div>
            <br/>
            <button id="hwi_unlocked__submit" class="btn" onclick="hidePageOverlay()">continue</button>
        </div>
    </div>
</div>
