{% extends "wallet/components/wallet_tab.jinja" %}
{% set tab = 'addresses' %}
{% block content %}

	<div class="table-holder">

		{% include "includes/services-data.html" %}
		{% include "includes/hwi/hwi.jinja" %}
		{% include "includes/explorer-link.html" %}
		{% include "includes/address-data.html" %}
		{% include "includes/address-row.html" %}
        {% include "includes/addresses-table.html" %}
        
		<addresses-table
			{% if specter.price_check and (specter.alt_rate and specter.alt_symbol) %}
				price="{{ specter.alt_rate }}"
				symbol="{{ specter.alt_symbol }}"
			{% endif %}
			btc-unit="{{ specter.unit }}"
			hide-sensitive-info="{{ specter.hide_sensitive_info | lower }}"
			type="{{ address_type }}"
			wallet="{{ wallet.alias }}"
			id="addresses-table-{{ wallet.alias }}"></addresses-table>
	</div>
	<div id="address-popup" class="hidden"></div>
	<script type="text/javascript">
		// enable that address details can be shown upon loading
		if ("{{ address_json_to_show_on_load }}" != "None") {
			addressTable = document.getElementById("addresses-table-{{ wallet.alias }}");		
			var addressData = {{ address_json_to_show_on_load|safe }};	
			showAddressData(addressData.amount, "",  addressData, addressTable.wallet);
		}
	</script>
{% endblock %}
