{#
	Relies on `supported_languages=app.supported_languages` being injected into the context
#}
<select id="select-language_code" name="language_code">
	{% for language_code, language in supported_languages.items() %}
		<option value="{{ language_code }}" {% if session["language_code"] == language_code %}selected{% endif %}>{{ language }}</option>
	{% endfor %}
</select>
<script type="module">
	Specter.common.attachEventListener("select-language_code", "change", (event)=> {
				changeLanguage(event.target)
			});  	
</script>