<div class="separator">
    <span id="toggle_services_list" style="cursor: pointer;">Services &nbsp; &#9660;</span>
</div>
<div id="services_list">
    {% for service_name, service in specter.service_manager.services.items() %}
        {% if service["active"] %}
        <a href="{{ url_for(service['name']+'_endpoint.settings') }}" class="item service">
            <img src="{{ url_for(service['name']+'_endpoint' + '.static', filename=service.logo) }}" height="30px">
        </a>
        <br>
        {% endif %}
    {% endfor %}
</div>
