{% extends "base.jinja" %}
{% block main %}
    <h1 id="title">Vaultoro</h1>
    {% if tab == 'trade' %}
        {% include "includes/direct-buy.html" %}
    {% endif %}
    {% if tab == 'balances' %}
        {% include "includes/balances.html" %}
    {% endif %}
    {% from 'components/vaultoro_menu.jinja' import vaultoro_menu %}
    {{ vaultoro_menu(tab) }}
    {% block content %}
    {% endblock %}
{% endblock %}

