{# 
    wallet_menu_item - Wallet navigation bar menu item.
    Parameters:
    - tab: The tab name.
    - title: The tab title.
    - wallet_alias: The wallet alias (used in the URL navigation).
    - active_menuitem: Current active tab name.
    - isLeft: Is the item at the left edge (first item) of the navigation bar?
    - isRight: Is the item at the right edge (last item) of the navigation bar?
 #}
{% macro wallet_menu_item(tab, title, wallet_alias, active_menuitem, isLeft=false, isRight=false, id="", blueprint="wallets_endpoint") -%}
    <li class="mr-2 py-2 border-b-2 border-transparent {% if active_menuitem == tab %}text-link border-b-2 border-link active{% endif %}">
        <a 
            class="text-lg inline-block py-1 px-3 hover:text-white rounded-lg hover:bg-dark-700" 
            href="{{ url_for(blueprint+'.'+ tab, wallet_alias=wallet_alias)}}"
            {% if id!=""%} id="{{id}}"{% endif %}
        >
            {{ title }}
        </a>
    </li>
{%- endmacro %}
