{% for device in wallet.devices if device.exportable_to_wallet  %}
    {% if device.wallet_export_type == 'file' %}
        <a 
        id="{{ device.alias }}-export-wallet-file"
        download="{{ wallet.name | ascii20 }}.txt"
        href="data:text/plain;charset=US-ASCII,{{ device.export_wallet(wallet) }}"
        class="btn centered padded">
            {{ _("Save") }} {{ device.name }} {{ _("file") }}
        </a>
        {% if device.device_type == 'coldcard' %}
            <script type="module">
                if (document.getElementById("{{ device.alias }}-export-wallet-file")){
                    document.getElementById("{{ device.alias }}-export-wallet-file").addEventListener("click", (event)=> {
                        Specter.common.showNotification(`{{ _('Import wallet file to your ColdCard: Settings -> Multisig Wallets -> Import from SD') }}`, 0);
                    });
                }
            </script>						
        {% endif %}

    {% elif device.wallet_export_type == 'qr' %}
        <button 
        id="{{ device.alias }}-export-wallet-qr"
        type="button" class="btn centered padded">Show {{ device.name }} QR Code
        </button>
        <script type="module">
            if (document.getElementById("{{ device.alias }}-export-wallet-qr")){
                document.getElementById("{{ device.alias }}-export-wallet-qr").addEventListener("click", (event)=> {
                    hidePageOverlay();
                    showPageOverlay('{{ device.alias }}_export_qr_code');
                });
            }
        </script>												
        <div id="{{ device.alias }}_export_qr_code" style="display: none;">
            <h1>{{ _("Scan this with your") }} {{ device.name }} {{ _("device") }} </h1>
            <qr-code value="{{ device.export_wallet(wallet) }}" width="400" scalable></qr-code>
            <br>
        </div>
    {% endif %}
{% endfor %}
