{% extends "base.jinja" %}
{% block main %}
    <h1 id="title">{{wallet.name}}</h1>
    {% if tab == 'wallet_settings' %}
        {% from 'components/editable_title.jinja' import editable_title %}
        {{ editable_title(wallet.name) }}
    {% endif %}
    {% from 'wallet/components/wallet_menu.jinja' import wallet_menu %}
    {{ wallet_menu(tab, wallet_alias) }}
    {% block content %}
    {% endblock %}
{% endblock %}
