{% extends "components/swan_tab.jinja" %}
{% block title %}Home{% endblock %}

{% block content %}

<h1>Swan Service</h1>

<br><br>

<div>
    You need to authenticate against Swan to use this functionality.<br>
    <a href="{{ flow_url }}" style="color: #fff;">Initialize the PKCE-FLOW to get an access-token</a>
</div>

<pre>
{{ session_data }}

</pre>
{% endblock %}