{% extends "swan/components/base.jinja" %}
{% block main %}
    <h1>Swan Plugin</h1>
    {% from 'swan/components/swan_menu.jinja' import swan_menu with context %}
    {{ swan_menu(tab) }}
    {% block content %}
    {% endblock %}
{% endblock %}