{% extends "vaultoro/components/vaultoro_tab.jinja" %}
{% set tab = 'balances' %}
{% block content %}

<vaultoro-balances></vaultoro-balances>

{% if history["data"] %}
    <h1 class="padded">History</h1>
    <div class="card" style="width: 610px; padding-top: 25px;">
        <table>
            <tr>
                <th>Pair</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Type</th>
                <th>Time</th>
            </tr>
            {% for item in history["data"] %}
                <tr>
                    <td>{{ item.pair }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.type }}</td>
                    <td>
                        <script>
                            document.write((new Date(parseInt('{{ item.createdAt }}') * 1000)).toLocaleString());
                        </script>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
<hr>
<h4> Debug</h4>
<h5>Balances</h5>
<p >
{{balances}}
</p>

<h5>History</h5>
{{history}}


{% endblock %}
{% block scripts %}
{% endblock %}