{% extends "wallet/components/wallet_tab.jinja" %}
{% set tab = 'history' %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<style>
		.showRescanHint {
			display: flex; 
			flex-direction: column; 
			align-items: center;
		}
	</style>
	{% from 'wallet/history/components/total_wallet_balances.jinja' import total_wallet_balances %}
	{{ total_wallet_balances(wallet, specter) }}
	<div class="table-holder">
		{% include "includes/services-data.html" %}
		{% include "includes/tx-row.html" %}
		{% include "includes/tx-data.html" %}
		{% include "includes/explorer-link.html" %}
		{% include "includes/tx-table.html" %}
		<tx-table  id="tx-table-webcomponent"
		{% if specter.price_check and (specter.alt_rate and specter.alt_symbol) %}
			price="{{ specter.alt_rate }}"
			symbol="{{ specter.alt_symbol }}"
		{% endif %}
		btc-unit="{{ specter.unit }}"
		blockhash="{{ specter.config.validate_merkle_proofs | lower }}"
		type="{{ tx_list_type }}"
		hide-sensitive-info="{{ specter.hide_sensitive_info | lower }}"
		wallet="{{ wallet.alias }}">
		</tx-table>
	</div>
	<div id="rescan-hint" class="hidden">
		<p>{{_('Is this not a fresh wallet? Did you expect transactions here? Then click') }} &#128071; {{_('to find them') }}</p>
	 	<a href="{{ url_for('wallets_endpoint.settings', wallet_alias=wallet_alias, rescan_blockchain=True) }}" class="btn" style="max-width: 175px;">Go to blockchain rescan</a>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
 	const txTableWebComponent = document.getElementById('tx-table-webcomponent')
 	const rescanHint = document.getElementById('rescan-hint')
 	document.addEventListener('readystatechange', event => {
 			if (txTableWebComponent.noTransaction === true) {
 				console.log("Showing the rescan hint.")
 				rescanHint.classList.remove('hidden')
 				rescanHint.classList.add('showRescanHint')
 			}
 			else {
 				console.log("Disabling the rescan hint.")
 				rescanHint.classList.remove('showRescanHint')
 				rescanHint.classList.add('hidden')
 			}
 	})
 	</script>
{% endblock %}

