{% extends "graphql/components/graphql_tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'index' %}
{% block content %}
    <br><br>
    <div class="tagline">&ldquo; GraphQL is awesome! Thank you Strawberry!&rdquo;</div>
{% endblock %}



{% block scripts %}
    <script>
    </script>
{% endblock %}
