{% extends "graphql/components/graphql_tab.jinja" %}
{% block title %}Transactions{% endblock %}
{% set tab = 'transactions' %}
{% block content %}

    <style>
        h1 {
            margin-top: 1em;
        }
        .linked_wallet {
            margin-bottom: 3em;
        }
        .no_linked_wallet {
            background-color: var(--cmap-bg-lighter);
            border: 2px solid yellow;
            border-radius: 0.5em;
            padding: 2em 3em 2em 3em;
            margin-bottom: 3em;
        }
        .no_linked_wallet .headline {
            text-align: center;
            font-size: 1.1em;
            margin-bottom: 1em;
        }
        .footnote {
            margin-top: 2em;
            font-style: italic;
            font-size: 0.85em;
            color: #999;
        }
    </style>

    <h1>Graphql Schema</h1>

    <div class="footnote">
        Still need to implement this here
    </div>

{% endblock %}