{% extends "spectrum/components/spectrum_tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'index' %}
{% block content %}
    <br><br>
    <div class="card">
        <h1>{{ _("Fortiqui Wallet - Connecting to Electrum server") }}</h1>
        <div class="note">
            {{ _("- Fortiqui Wallet lets you use Fortiquo with an Electrum server.") }}<br/>
            {{ _("- You can connect Fortiquo to your own Electrum Server or public servers.") }}<br/>
            {{ _("- In the alpha version of Fortiqui Wallet, it's not supported to use a Bitcoin Core node alongside the Fortiqui Wallet node.") }}<br/>
        </div>
        <div class="note">
            <b>{{ _("To activate Fortiqui Wallet, choose an electrum server from the list in the settings and save.") }}</b>
        </div>
        <br/>
    </div>
{% endblock %}

