{#
    The <template> defines the styling and structure of the web component.
    
    When it is instantiated it is populated with various `data-*` attributes which are
    read in for initial configuration data.

    In the JS constructor additional data is fetched from the server and then populated
    into the <template>.
#}
<template id="address-data">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .address-data-table td {
            text-align: left;
            margin-top: 0;
        }
        .descriptor {
            max-width: 500px;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            white-space: pre-wrap;
            word-wrap: break-word;
            margin: auto;
        }
        .service-icon {
            margin-top: -5px;
            margin-right: 0.5em;
            height:24px;
            vertical-align: middle;
        }
    </style>
    <div class="address-data">
        <h1>{{ _("Address details") }}</h1><br>
        <qr-code style="margin: auto;" class="address-qr-code" width="256"></qr-code><br>
        <table class="address-data-table">
            <tbody>
                <tr><td>{{ _("Address") }}:</td><td style="word-break: break-all;" class="address-explorer-link"></td></tr>
                <tr><td>{{ _("Label") }}:</td><td class="address-label"></td></tr>
                <tr><td>{{ _("From wallet") }}:</td><td><a class="wallet-link" href=${walletLink}>${jsonResponse.walletName}<a></td></tr>
                <tr><td>{{ _("Address index") }}:</td><td class="address-index"></td></tr>
                <tr><td>{{ _("Is change address") }}:</td><td class="is-change-address"></td></tr>
                <tr><td>{{ _("Used") }}:</td><td class="is-used-address"></td></tr>
                <tr><td>{{ _("UTXO count") }}:</td><td class="utxo-count"></td></tr>
                <tr><td>{{ _("Amount") }}:</td><td><span class="address-amount"></span>&nbsp;<span class="address-amount-price note"></span></td></tr>
                <tr><td>{{ _("Service") }}:</td><td class="address-service"></td></tr>
            </tbody>
        </table>

        <div class="verify-hwi hidden">
            <button type="button" class="btn" style="min-width:200px; max-width:300px; margin: auto;">{{ _("Verify address on device") }}</button>`;
        </div>

        <div class="verify-qr hidden">
            <p>{{ _("Or scan this QR code") }}:</p>
            <qr-code value="bitcoin:${jsonResponse.address}?index=${jsonResponse.index}" width="256" scalable></qr-code>           
        </div>


        <br>
        <h2>{{ _("Address descriptor") }}</h2>
        <br>
        <div>
            <span class="switch-text">{{ _("Show raw public keys") }}&nbsp;</span>
            <label class="switch">
                <input type="checkbox" class="descriptor-switch" checked>
                <span class="slider"></span>
            </label><br><br>
        </div>
        <pre class="descriptor"></pre>

        <div class="note"></div>
    </div>
</template>



<script type="text/javascript">
    class AddressDataElement extends HTMLElement {
        constructor() {
            super();
            // Create a shadow root
            var shadow = this.attachShadow({mode: 'open'});
            var style = document.getElementById('address-data').content;
            var clone = style.cloneNode(true);

            // Map template DOM elements to js vars that we'll populate and manipulate below
            this.qrCode = clone.querySelector(".address-qr-code");
            this.explorerLink = clone.querySelector(".address-explorer-link");
            this.addressLabel = clone.querySelector(".address-label");
            this.walletLink = clone.querySelector(".wallet-link");
            this.addressIndex = clone.querySelector(".address-index");
            this.isChangeAddress = clone.querySelector(".is-change-address");
            this.isUsedAddress = clone.querySelector(".is-used-address");
            this.utxoCount = clone.querySelector(".utxo-count");
            this.addressAmount = clone.querySelector(".address-amount");
            this.addressAmountPrice = clone.querySelector(".address-amount-price");
            this.addressService = clone.querySelector(".address-service");
            this.verifyHwi = clone.querySelector(".verify-hwi");
            this.verifyQr = clone.querySelector(".verify-qr");
            this.descriptorSwitch = clone.querySelector(".descriptor-switch");
            this.descriptor = clone.querySelector(".descriptor");
            this.note = clone.querySelector(".note");

            // Read input "data-*" attributes
            this.isVerifyQR = this.getAttribute('data-verify-qr') == 'True';
            this.isVerifyHwi = this.getAttribute('data-verify-hwi') == 'True';
            this.used = (this.getAttribute('data-used') == 'true');
            this.utxo = this.getAttribute('data-utxo');
            this.amount = this.getAttribute('data-amount');
            this.amountPrice = this.getAttribute('data-amount-price');
            this.address = this.getAttribute('data-address');
            this.serviceId = this.getAttribute('data-service-id');
            this.wallet = this.getAttribute('data-address-wallet');

            this.note.innerText = `{{ _("Loading address") }}: ${this.address} {{ _("details") }}...`;
            this.fetchAddressData();
        
            // Attach the created element to the shadow dom
            shadow.appendChild(clone);
        }

        async fetchAddressData() {
            let url = `{{ url_for('wallets_endpoint.addressinfo', wallet_alias='WALLET_ALIAS') }}`.replace("WALLET_ALIAS", this.wallet);
            var formData = new FormData();
            formData.append('address', this.address);
            formData.append('csrf_token', '{{ csrf_token() }}');
            try {
                const response = await fetch(
                    url,
                    {
                        method: 'POST',
                        body: formData
                    }
                );
                if(response.status != 200){
                    showError(await response.text());
                    return;
                }
                const jsonResponse = await response.json();
                if (jsonResponse.success) {
                    console.log(jsonResponse);

                    // Insert values into the html template
                    this.qrCode.setAttribute("value", `bitcoin:${jsonResponse.address}`);
                    this.explorerLink.innerHTML = `<explorer-link data-type="address" data-value='${jsonResponse.address}'></explorer-link>`;
                    this.addressLabel.innerHTML = `<address-label data-copy-hidden="true" data-address="${jsonResponse.address}" data-wallet="${this.wallet}"></address-label>`;
                    let walletUrl = `{{ url_for('wallets_endpoint.wallet', wallet_alias='WALLET_ALIAS') }}`.replace("WALLET_ALIAS", this.wallet);
                    this.walletLink.setAttribute("href", walletUrl);
                    this.walletLink.innerText = jsonResponse.walletName;
                    this.addressIndex.innerHTML = jsonResponse.index;
                    this.isChangeAddress.innerHTML = jsonResponse.change ? '{{ _("Yes") }}' : '{{ _("No") }}';
                    this.isUsedAddress.innerHTML = this.used ? 'Yes' : 'No';
                    this.utxoCount.innerText = this.utxo;
                    this.addressAmount.innerText = this.amount;
                    this.addressAmountPrice.innerText = this.amountPrice;
                    if (this.amountPrice == '') {
                        this.addressAmountPrice.classList.add('hidden');
                    }

                    if (this.serviceId != "null") {
                        // `services` obj made globally available in services-data.html
                        this.addressService.innerHTML = `<img class="service-icon" src='/svc/${this.serviceId}/static/${services[this.serviceId].icon}'>${services[this.serviceId].name}`;
                    } else {
                        let associateServiceUrl = `{{ url_for('services_endpoint.associate_addr', wallet_alias='WALLET_ALIAS', address='ADDRESS') }}`.replace('WALLET_ALIAS', this.wallet).replace('ADDRESS', jsonResponse.address);
                        this.addressService.innerHTML = `<button type="button" class="btn" onclick="location.href='${associateServiceUrl}';">{{ _("Associate with a service") }}</button>`
                    }

                    let descriptor = jsonResponse.descriptor;
                    if (this.isVerifyHwi) { 
                        this.verifyHwi.classList.remove("hidden");
                        this.verifyHwi.setAttribute("onclick", `hidePageOverlay();displayAddressOnDevice("${jsonResponse.address}", unescape("${escape(JSON.stringify(descriptor))}"))`);
                    }

                    if (this.isVerifyQR) { 
                        this.verifyHwi.classList.remove("hidden");
                        this.verifyHwi.querySelector("qr-code").setAttribute("value", `bitcoin:${jsonResponse.address}?index=${jsonResponse.index}`);
                    }

                    // Utility to swap descriptor format
                    function setCurDescriptor(self, curDescriptor) {
                        self.descriptor.innerHTML = `<code class="explorer-link" onclick='copyText(unescape("${curDescriptor}"), "{{ _("Copied address descriptor") }}")'>${curDescriptor}</code>`;
                    }
                    setCurDescriptor(this, descriptor.descriptor);

                    // Handle "Show raw public keys" switch
                    this.descriptorSwitch.onchange = (e) => {
                        if (e.target.checked) {
                            setCurDescriptor(this, descriptor.descriptor);
                        } else {
                            setCurDescriptor(this, descriptor.xpubs_descriptor);
                        }
                    }

                    this.note.innerText = "";
                    return;
                }
                this.note.innerText = '{{ _("Failed to load address details...") }}';
            } catch(e) {
                this.note.innerText = '{{ _("Failed to load address details...") }}';
                console.error(e);
            }
        }
    }
    customElements.define('address-data', AddressDataElement);
</script>
