<!--
  Custom message box component.
  You can use it as a normal html tag, for example:
  <message-box type="error">error happened!!!</message-box>
-->

<template id="messagebox">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='output.css') }}">

  <div id="main">
    <a>&#x2715;</a>
    <slot class="text-white"> Error: Something bad happened! </slot>
  </div>
</template>

<script type="text/javascript">
  class MessageBoxElement extends HTMLElement {
    constructor() {
      super();
      // Create a shadow root
      var shadow = this.attachShadow({ mode: "open" });
      var style = document.getElementById("messagebox").content;
      var clone = style.cloneNode(true);
      this.main = clone.querySelector("#main");
      clone.querySelector("a").addEventListener("click", (e) => {
        this.close();
      });

      this.main.onclick = () => {
        if (window.innerWidth < 690) {
          this.close();
        }
      };
      // Attach the created element to the shadow dom
      shadow.appendChild(clone);
    }
    static get observedAttributes() {
      return ["type", "timeout"];
    }
    close() {
      this.main.style.opacity = 0;
      this.main.style["animation-name"] = "disappear";
      window.setTimeout(() => {
        this.main.style.display = "none";
      }, 200);
    }
    setType(mytype) {
      this.main.classList.add("error");
    }
    connectedCallback() {
      this.main.style.opacity = 0;
      this.main.style["animation-name"] = "appear";
      this.main.style.opacity = 1;
    }
    attributeChangedCallback(attrName, oldValue, newValue) {
      var type = this.getAttribute("type");
      var timeout = parseInt(this.getAttribute("timeout"));
      this.main.classList.remove("error");
      if (type == "error") {
        this.setType("error");
      }
      if (timeout > 0) {
        setTimeout(() => {
          this.close();
        }, timeout);
      }
    }
  }
  customElements.define("message-box", MessageBoxElement);
</script>
