<!-- 
    A recipient form. The .value property returns a dictionary of address, label, amount and more

{#- Usage -

    <recipient-box id=`recipient_0`  recipient_id=0   title=`Recipient 1`></recipient-box>

	or via the class:
			let newRecipient = new RecipientBox();
			newRecipient.id = `recipient_${recipient_id}`;
			newRecipient.recipient_id = recipient_id;
			newRecipient.title = `Recipient ${recipient_id+1}`;
			newRecipient.addEventListener('address-input', (event) => {
				validateForm()
			})


	It exposes the events:
	  - 'address-input'
	  - 'unit-change'


	It has the attributes: ["value", "name", "id", "title", "address", "label", "step", "recipient_id"]
			These attributes will be assigned to the appropriate html elements

	It has the properties:
	  - 'value' , which returns a dict with the values of html classes 'input' and 'textarea', and 
					it can also be set, where it writes the content back into these html elements

#} 
-->

<template id="recipient-box">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

	<style>
		.max-btn:hover {
			text-decoration: underline;
			cursor: pointer;
		} 
	</style>

	<div id="recipient" class="recipient_wrapper_item" >		
				<span id='title'><!-- the title comes in here--></span>		
				<span class="recipient_button recipient_remove" title="Remove recipient" id="remove" style="float:right">&#10060;</span>

				<div class="recipient_wrapper_inner_box"  >
					<div class="row">
						<input type="text" id="address" name="address" value="" placeholder='{{ _("Recipient address") }}'> &nbsp;
						<qr-scanner id="address-scan" style="margin-top: 3px;">
							<a slot="button" class="btn" style="height: 35px;">
							<img src="{{ url_for('static', filename='img/qr-code.svg') }}" style="width: 26px; margin: 0px;" class="svg-white"> {{ _("Scan") }}</a>
						</qr-scanner>
					</div>				
					<input type="text" style="margin-top: 3px;" id="label" name="label" value=""  placeholder='{{ _("Address label") }}''>
					<br>
					{{ _("Amount:") }}<br>
					<input style="width: 200px" type="number" name="amount" id="amount" min=0 step='1e-8' autocomplete="off" placeholder="0"> <!-- the value comes in here-->
					<div class="mobile-only" style="margin-top: 10px;"></div>
					<span id='asset_selector'><!-- the assetSelector comes in here--></span>
					<span class="note max-btn" style="margin-left: 5px;" id="send_max">({{ _("send max") }})</span>
					<div>
						<span class="note" id="converted_unit_amount">-</span> <span class="note" id="converted_unit_label"><!-- the convertedUnit comes in here--></span> <span class="note" id="converted_unit_alt"></span>
					</div>
				</div>
			<div>
</template>



<script type="text/javascript">
	class RecipientBox extends HTMLElement {
		constructor() {
			super();
			
			this.internals = this.attachInternals();
			this.recipient_id = null;	// MUST be set for a functioning instance
			this.inputs = {};   		// this is a dictionary containing all inputs, such they are easily accessible 
			this.amount = null;   		// will be calculated from the inputs
			this.btc_amount = null; 	// will be calculated from the inputs
			this.unit =  null;			// will be calculated from the inputs

			this.buildHTML();			// created the html
			this.attachListeners();		// attaches the listeners to some html objects
		}



		// creates the entire html code (without event listeners)  mainly from the template
		// and it also populates the dictionary this.inputs
		buildHTML(){
			// Create a shadow root
			this.attachShadow({
				mode: 'open'
			});

			var template_content = document.getElementById('recipient-box').content;
            this.clone = template_content.cloneNode(true);


			// fill this.inputs with the input and textarea fields. 
			// This dict is a quick way to look up the input fields without querying the html again
			this.inputs = {};
			var formClassNames = ['input', 'textarea'];
			for (var j in formClassNames) {
				var inputFields = this.clone.querySelectorAll(formClassNames[j]);
				for(var i = 0; i < inputFields.length; i++) {
					var inputField = inputFields[i];
					console.log(j, i, inputField)
					this.inputs[inputField.id] = inputField;
				}
			}


            this.shadowRoot.appendChild(this.clone);
			this.addAssetSelectorToShadowRoot('', 'btc')			
		}



		// add the html code for the assetSelector
		addAssetSelectorToShadowRoot(amount, amountUnit) { 
			if (amount >= 0){
				this.shadowRoot.getElementById('amount').value = amount;
			}
			

			if (amountUnit == 'sat') {
				amount = parseFloat(Number.parseFloat(amount * 1e8).toFixed(0));
				if (amount == 'NaN') {
					amount = '-'
				}
			}
			let step = 1;
			if (amountUnit == 'btc') {
				step = 1e-8;
			}
			let satChecked = amountUnit == 'btc' ? '' : 'checked';
			let btcChecked = amountUnit == 'btc' ? 'checked' : '';
			let convertedUnit = amountUnit == 'btc' ? 'sat' : 'BTC';
			this.shadowRoot.getElementById("converted_unit_label").innerText = convertedUnit;
			
			{% if specter.is_liquid and wallet.balance.get("assets", {}) %}
				let assetSelector = `
					<select name="amount_unit" style="width: 100px;" >
						<option value="btc">LBTC</option>
						<option value="sat">L-sat (10⁻⁸ LBTC)</option>
					{% for asset in wallet.balance.get("assets",{}).keys() | sort %}
						<option value="{{asset}}">{{asset | assetlabel}}</option>
					{% endfor %}
					</select>
					`;				
			{% else %}
				let assetSelector = `
					<label><input type="radio" class="inline" style="margin: 0 5px;" name="amount_unit"  value="sat" ${satChecked}>sat</label>
					<label><input type="radio" class="inline" style="margin: 0 5px;" name="amount_unit"  value="btc" ${btcChecked}>BTC</label>
					`;
			{% endif %}

			this.shadowRoot.getElementById('asset_selector').innerHTML = assetSelector;


		} 



		// adds EventListeners to various inputs
		attachListeners(){
			this.shadowRoot.querySelectorAll('[name="amount_unit"]').forEach(input => {
				input.addEventListener('change',() => {
					this.toggleUnit(input.value);

					this.dispatchEvent(new CustomEvent('unit-change'));
				});	

				// set unit at instance creation
				if (input.checked){
					this.toggleUnit(input.value);
				}	
			}); 	


			this.shadowRoot.getElementById('address').addEventListener('input', event=>{
				this.dispatchAddressOnInput();
			});			



			this.shadowRoot.getElementById('address-scan').addEventListener('scan', event=>{
				let addr = event.detail.result;
				if(addr == null){
					return;
				}
				// remove bitcoin: stuff
				if(addr.indexOf("bitcoin:") >= 0){
					addr = addr.substr(addr.indexOf("bitcoin:")+8);
				}
				let arr = addr.split("?");
				addr = arr[0];
				this.shadowRoot.getElementById("address").value = addr;
				let evt = new Event('input');
				this.shadowRoot.getElementById("address").dispatchEvent(evt);
				// parse metadata like amount and message
				if(arr.length > 1){
					arr = arr[1].split("&");
					arr.forEach((e)=>{
						if(e.startsWith("amount=")){
							let val = parseFloat(e.substr(7));
							if(this.unit == 'sat'){
								val = Math.round(val*1e8);
							}
							this.shadowRoot.getElementById("amount").value = val;
							let evt = new Event('input');
							this.shadowRoot.getElementById("amount").dispatchEvent(evt);
						}
						if(e.startsWith("message=") || e.startsWith("label=")){
							this.shadowRoot.getElementById("label").value = e.split("=")[1];
						}
					});
				}
			});

			
			this.shadowRoot.getElementById('send_max').addEventListener('click', event=>{
				console.log(event)
				setMaxAmount(this.recipient_id)
			});			

			this.shadowRoot.getElementById('remove').addEventListener('click', event=>{
				console.log(event)
				removeRecipient(this.recipient_id)
			});			

			this.shadowRoot.getElementById('amount').addEventListener('input', event=>{
				this.calculateConvertedUnit()
			});			


		}



		markAdddressGreenIfMine(){
			// mark own addresses green
			this.isAddressMyOwn().then((isMine) => {
				this.markRecipient(isMine);
			});
		}

		dispatchAddressOnInput(result) {
			this.markAdddressGreenIfMine();
			this.dispatchEvent(new CustomEvent('address-input'));
		}


		onInputFieldChange(inputField){
			
			console.log(`${inputField.id}  changed to ${this.value}`);
		}


		connectedCallback() {
			for (var i in this.inputs ) {
				var inputField = this.inputs[i];			
				inputField.addEventListener("change", (e) => this.onInputFieldChange(inputField))
			}

		}

		disconnectedCallback() {
			for (var i in this.inputs ) {
				this.inputs[i].removeEventListener('change', (e) => this.onInputFieldChange(inputField));
			}
		}



		// this function together with attributeChangedCallback ensures that setting attributes directly in html 
		// like <recipient-box myattribute=200></div>  works.
		static get observedAttributes() {
			// define the attributes that can be defined via <recipient-box name="recipient-box" id='4'></recipient-box>	
			var attributes = ["value", "name", "id", "title", "address", "label", "recipient_id", "max", "step", "amount"];
			return attributes;
		}

		attributeChangedCallback(attribute, oldValue, newValue) {
			if (oldValue == newValue){return}
			console.log(`Called  attributeChangedCallback with ${attribute}   =  ${newValue}  ;  Object.keys(this.inputs) = ${Object.keys(this.inputs)}`)
			if (attribute=="value"){
				setValue(newValue);
			} else if (attribute=="name"){
				this.name = newValue;
			} else if (attribute=="address"){
				setAddress(newValue);
			} else if (attribute=="title"){
				this.setTitle(newValue);
			} else if (attribute=="recipient_id"){
				this.recipient_id = newValue;
			} else if (attribute=="label"){
				this.setLabel(newValue);
			} else if (attribute=="step"){
				this.step = newValue;
			} else if (attribute=="max"){
				this.max = newValue;
			} else if (attribute=="amount"){
				this.amount = newValue;
			} else if (attribute=="id"){
				this.id = newValue;
			} else if (Object.keys(this.inputs).includes(attribute) ) {
				this.inputs[attribute].value = newValue;
			} 
			
		}



		setTitle(newValue){
			this.shadowRoot.getElementById('title').innerText = newValue;
		}		

		setLabel(newValue){
			this.shadowRoot.getElementById('label').value = newValue;
		}		

		setAddress(newValue){
			this.shadowRoot.getElementById('address').value = newValue;
		}		


		// step
		set step(newValue){
			if (!this.shadowRoot) {return }
			this.shadowRoot.getElementById('amount').step = newValue;
		}			
		get step(){
			return parseFloat(this.shadowRoot.getElementById('amount').step );
		}		

		// amount
		set amount(newValue){
			if (!this.shadowRoot) {return }
			this.shadowRoot.getElementById('amount').value = newValue;
		}			
		get amount(){
			var value = parseFloat(this.shadowRoot.getElementById('amount').value );
			if (!value) {value = 0}
			return value;
		}		

		// max
		set max(newValue){
			if (!this.shadowRoot) {return }
			this.shadowRoot.getElementById('amount').max = newValue;
		}			
		get max(){
			return parseFloat(this.shadowRoot.getElementById('amount').max );
		}		


		// value
		set value(newValue) {
			this.setValue(newValue);
		}
		setValue(newValue) {
			for (var i in this.inputs ) {
				if  (Object.keys(this.inputs).includes(i) ){
					this.inputs[i].value = newValue[i];
				}  
			} 
		}

		// Returns a dict with important attributes and input fields
		get value() {
			// include some attributes from the class (these are typically static (like id) or derived from inputs (such as amount, unit, btc_amount))
			var dict = {
				unit:this.unit,
				amount:this.amount,
				btc_amount:this.btc_amount,
				recipient_id:this.recipient_id,
			}

			// add relevant inputs
			dict['label'] = this.inputs['label'].value; 
			dict['address'] = this.inputs['address'].value;

			return dict;
		}

		static get properties() {
			return {
				value: {
					type: String
				}
			};
		}





		toggleUnit(unit) {
			this.unit = unit;
			console.log(`this.unit ${this.unit}`)
			let unitLabelEl = this.shadowRoot.getElementById('converted_unit_label');
			if(this.unit == 'sat'){
				unitLabelEl.innerHTML = 'BTC';
			}else if(this.unit == 'btc'){
				unitLabelEl.innerHTML = 'sat';
			}else{
				unitLabelEl.innerHTML = '';
			}
			this.shadowRoot.getElementById('amount').setAttribute('step', this.unit == 'sat' ? '1' : '1e-8');
			this.calculateConvertedUnit();
		}

		calculateConvertedUnit() {
			console.log('calculateConvertedUnit')

			let convertedAmount = parseFloat(Number.parseFloat(this.amount / (this.unit == 'sat' ? 1e8 : 1e-8)).toFixed((this.unit == 'sat' ? 8 : 0)));
			if (convertedAmount == 'NaN') {
				convertedAmount = '-'
			}
			this.btc_amount = (this.unit == 'sat' ? this.amount / 1e8 : this.amount);

			if(this.unit == 'sat' || this.unit == 'btc'){
				this.shadowRoot.getElementById('converted_unit_amount').innerHTML = (isNaN(convertedAmount) ? '-' : convertedAmount.toFixed(8).replace(/(\.0+|0+)$/, ''));
			{% if specter.price_check %}
				let altRate = parseFloat('{{ specter.alt_rate }}');
				let altSymbol = '{{ specter.alt_symbol }}';
				let altAmount = parseFloat((altRate * this.btc_amount).toFixed(2))
				if (!isNaN(altAmount) && (altSymbol && altRate)) {
					this.shadowRoot.getElementById('converted_unit_alt').innerHTML = '&nbsp;(' + altAmount + altSymbol + ')';
				} else {
					this.shadowRoot.getElementById('converted_unit_alt').innerHTML = '';
				}
			{% endif %}
			}else{
				this.shadowRoot.getElementById('converted_unit_amount').innerHTML = '&nbsp;';
				this.shadowRoot.getElementById('converted_unit_alt').innerHTML = '&nbsp;';
			}
			
		}



		async isAddressMyOwn() {
			let address = this.shadowRoot.getElementById('address').value;
			if (!address){return;}

			let url="{{ url_for('wallets_endpoint_api.is_address_mine', wallet_alias=wallet.alias, address='this_address') }}"
			url = url.replace('this_address', address)			
					
			let is_address_mine = send_request(url, 'GET', "{{ csrf_token() }}");
			return is_address_mine;
		}

		markRecipient(is_address_mine){
			console.log(`Marking ${this.recipient_id} as isMine=${is_address_mine}`)

			let html_address = this.shadowRoot.getElementById(`address`);
			if (is_address_mine) {
				html_address.style.backgroundColor= 'var(--cmap-bg-address-is-mine)';
			} else {
				html_address.style.backgroundColor= "rgba(1, 1, 1, 0)";
			}

		}

	}
	customElements.define('recipient-box', RecipientBox);
</script>