<!-- 
    A recipient form that returns a dictionary of address, label and amount

{#- Usage -

    <recipient-box id=`recipient_0`  recipient_id=0   title=`Recipient 1`></recipient-box>

	or via the class:
			let newRecipient = new RecipientBox();
			newRecipient.id = `recipient_${recipient_id}`;
			newRecipient.recipient_id = recipient_id;
			newRecipient.title = `Recipient ${recipient_id+1}`;
			newRecipient.addEventListener('address-input', (event) => {
				validateForm()
			})


	It exposes the events:
	  - 'address-input'
	  - 'unit-change'

#} 
-->

<template id="recipient-box">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

	<style>
		.max-btn:hover {
			text-decoration: underline;
			cursor: pointer;
		} 
	</style>

	<div id="recipient" class="recipient_wrapper_item" >		
				<span id='title'><!-- the title comes in here--></span>		
				<span class="recipient_button recipient_remove" title="Remove recipient" id="remove" style="float:right">&#10060;</span>

				<div class="recipient_wrapper_inner_box"  >
					<div class="row">
						<input type="text" id="address" name="address" value="" placeholder='{{ _("Recipient address") }}'> &nbsp;
						<qr-scanner id="address-scan" style="margin-top: 3px;">
							<a slot="button" class="btn" style="height: 35px;">
							<img src="{{ url_for('static', filename='img/qr-code.svg') }}" style="width: 26px; margin: 0px;" class="svg-white"> {{ _("Scan") }}</a>
						</qr-scanner>
					</div>				
					<input type="text" style="margin-top: 3px;" id="label" name="label" value=""  placeholder='{{ _("Address label") }}''>
					<br>
					{{ _("Amount:") }}<br>
					<input style="width: 200px" type="number" name="amount_input" id="amount_input" min=0 step='1e-8' autocomplete="off" placeholder="0"> <!-- the value comes in here-->
					<input type="hidden" name="btc_amount" id="btc_amount">
					<div class="mobile-only" style="margin-top: 10px;"></div>
					<span id='asset_selector'><!-- the assetSelector comes in here--></span>
					<span class="note max-btn" style="margin-left: 5px;" id="send_max">({{ _("send max") }})</span>
					<div>
						<span class="note" id="converted_unit_amount">-</span> <span class="note" id="converted_unit_label"><!-- the convertedUnit comes in here--></span> <span class="note" id="converted_unit_alt"></span>
					</div>
				</div>
			<div>
</template>



<script type="text/javascript">
	class RecipientBox extends HTMLElement {
		constructor() {
			super();
			
			this.internals = this.attachInternals();
			this.inputs = {};
			this.recipient_id = null;
			this.amount = null;
			this.unit =  null;

			this.buildHTML();
		}



		add_assetSelector_to_shadowRoot(amount, amount_unit) { 
			if (amount >= 0){
				this.shadowRoot.getElementById('amount_input').value = amount;
			}
			

			if (amount_unit == 'sat') {
				amount = parseFloat(Number.parseFloat(amount * 1e8).toFixed(0));
				if (amount == 'NaN') {
					amount = '-'
				}
			}
			let step = 1;
			if (amount_unit == 'btc') {
				step = 1e-8;
			}
			let satChecked = amount_unit == 'btc' ? '' : 'checked';
			let btcChecked = amount_unit == 'btc' ? 'checked' : '';
			let convertedUnit = amount_unit == 'btc' ? 'sat' : 'BTC';
			this.shadowRoot.getElementById("converted_unit_label").innerText = convertedUnit;
			
			{% if specter.is_liquid and wallet.balance.get("assets", {}) %}
				let assetSelector = `
					<select name="amount_unit" style="width: 100px;" >
						<option value="btc">LBTC</option>
						<option value="sat">L-sat (10⁻⁸ LBTC)</option>
					{% for asset in wallet.balance.get("assets",{}).keys() | sort %}
						<option value="{{asset}}">{{asset | assetlabel}}</option>
					{% endfor %}
					</select>
					`;				
			{% else %}
				let assetSelector = `
					<label><input type="radio" class="inline" style="margin: 0 5px;" name="amount_unit"  value="sat" ${satChecked}>sat</label>
					<label><input type="radio" class="inline" style="margin: 0 5px;" name="amount_unit"  value="btc" ${btcChecked}>BTC</label>
					`;
			{% endif %}

			this.shadowRoot.getElementById('asset_selector').innerHTML = assetSelector;

			this.shadowRoot.querySelectorAll('[name="amount_unit"]').forEach(input => {
				input.addEventListener('change',() => {
					this.toggleUnit(input.value);

					this.dispatchEvent(new CustomEvent('unit-change'));
				});	


				// set unit at instance creation
				if (input.checked){
					this.toggleUnit(input.value);
				}	
			}); 	

		} 


		setTitle(newValue){
			this.shadowRoot.getElementById('title').innerText = newValue;
		}		

		setLabel(newValue){
			this.shadowRoot.getElementById('label').value = newValue;
		}		

		setAddress(newValue){
			this.shadowRoot.getElementById('address').value = newValue;
		}		

		setStep(newValue){
			this.shadowRoot.getElementById('amount_input').step = newValue;
		}		

		buildHTML(){
			// Create a shadow root
			this.attachShadow({
				mode: 'open'
			});

			var template_content = document.getElementById('recipient-box').content;
            this.clone = template_content.cloneNode(true);


			this.clone.getElementById('address').addEventListener('input', event=>{
				this.dispatchAddressOnInput();
			});			



			this.clone.getElementById('address-scan').addEventListener('scan', event=>{
				let addr = event.detail.result;
				if(addr == null){
					return;
				}
				// remove bitcoin: stuff
				if(addr.indexOf("bitcoin:") >= 0){
					addr = addr.substr(addr.indexOf("bitcoin:")+8);
				}
				let arr = addr.split("?");
				addr = arr[0];
				this.clone.getElementById("address").value = addr;
				let evt = new Event('input');
				this.clone.getElementById("address").dispatchEvent(evt);
				// parse metadata like amount and message
				if(arr.length > 1){
					arr = arr[1].split("&");
					arr.forEach((e)=>{
						if(e.startsWith("amount=")){
							let val = parseFloat(e.substr(7));
							if(this.unit == 'sat'){
								val = Math.round(val*1e8);
							}
							this.clone.getElementById("amount_input").value = val;
							let evt = new Event('input');
							this.clone.getElementById("amount_input").dispatchEvent(evt);
						}
						if(e.startsWith("message=") || e.startsWith("label=")){
							this.clone.getElementById("label").value = e.split("=")[1];
						}
					});
				}
			});

			
			this.clone.getElementById('send_max').addEventListener('click', event=>{
				console.log(event)
				setMaxAmount(this.recipient_id)
			});			

			this.clone.getElementById('remove').addEventListener('click', event=>{
				console.log(event)
				removeRecipient(this.recipient_id)
			});			

			this.clone.getElementById('amount_input').addEventListener('input', event=>{
				this.calculateConvertedUnit()
			});			

			// fill this.inputs with the input fields, so they this.value = dict of all input fields
			this.inputs = {};
			var form_class_names = ['input', 'textarea'];
			for (var j in form_class_names) {
				var input_fields = this.clone.querySelectorAll(form_class_names[j]);
				for(var i = 0; i < input_fields.length; i++) {
					var input_field = input_fields[i];
					console.log(j, i, input_field)
					this.inputs[input_field.id] = input_field;
				}
			}

            this.shadowRoot.appendChild(this.clone);
			this.add_assetSelector_to_shadowRoot('', 'btc')			
		}


		mark_adddress_green_if_mine(){
			// mark own addresses green
			this.is_address_my_own().then((is_mine) => {
				this.mark_recipient(is_mine);
			});
		}

		dispatchAddressOnInput(result) {
			this.mark_adddress_green_if_mine();
			this.dispatchEvent(new CustomEvent('address-input'));
		}


		on_input_field_change(input_field){
			
			console.log(`${input_field.id}  changed to ${this.value}`);
		}


		connectedCallback() {
			for (var i in this.inputs ) {
				var input_field = this.inputs[i];			
				input_field.addEventListener("change", (e) => this.on_input_field_change(input_field))
			}

		}

		disconnectedCallback() {
			for (var i in this.inputs ) {
				this.inputs[i].removeEventListener('change', (e) => this.on_input_field_change(input_field));
			}
		}




		static get observedAttributes() {
			// define the attributes that can be defined via <recipient-box name="recipient-box" id='4'></recipient-box>	
			var attributes = ["value", "name", "id", "title", "address", "label", "step", "recipient_id"];
			return attributes;
		}

		attributeChangedCallback(attribute, oldValue, newValue) {
			if (oldValue == newValue){return}
			console.log(`Called  attributeChangedCallback with ${attribute}   =  ${newValue}  ;  Object.keys(this.inputs) = ${Object.keys(this.inputs)}`)
			if (attribute=="value"){
				setValue(newValue);
			} else if (attribute=="name"){
				this.name = newValue;
			} else if (attribute=="address"){
				setAddress(newValue);
			} else if (attribute=="title"){
				this.setTitle(newValue);
			} else if (attribute=="recipient_id"){
				this.recipient_id = newValue;
			} else if (attribute=="label"){
				this.setLabel(newValue);
			} else if (attribute=="step"){
				this.setStep(newValue);
			} else if (attribute=="id"){
				this.id = newValue;
			} else if (Object.keys(this.inputs).includes(attribute) ) {
				this.inputs[attribute].value = newValue;
			} 
			
		}

		// This is essential to make the recipient-box compatible with setting a new value
		set value(newValue) {
			this.setValue(newValue);
		}
		setValue(newValue) {
			for (var i in this.inputs ) {
				if  (Object.keys(this.inputs).includes(i) ){
					this.inputs[i].value = dict[i];
				}
			} 
		}

		// Returns a dict with important attributes and input fields
		get value() {
			var dict = {
				unit:this.unit,
				amount:this.amount,
				recipient_id:this.recipient_id,
			}
			for (var i in this.inputs ) {
				if (!i) {continue}  // no empty keys
				dict[i] = this.inputs[i].value;
			} 

			return dict;
		}

		static get properties() {
			return {
				value: {
					type: String
				}
			};
		}





		toggleUnit(unit) {
			this.unit = unit;
			console.log(`this.unit ${this.unit}`)
			let unitLabelEl = this.shadowRoot.getElementById('converted_unit_label');
			if(this.unit == 'sat'){
				unitLabelEl.innerHTML = 'BTC';
			}else if(this.unit == 'btc'){
				unitLabelEl.innerHTML = 'sat';
			}else{
				unitLabelEl.innerHTML = '';
			}
			this.shadowRoot.getElementById('amount_input').setAttribute('step', this.unit == 'sat' ? '1' : '1e-8');
			this.calculateConvertedUnit();
		}

		calculateConvertedUnit() {
			console.log('calculateConvertedUnit')
			let amountInput = this.shadowRoot.getElementById('amount_input');

			this.amount = parseFloat(amountInput.value);

			let convertedAmount = parseFloat(Number.parseFloat(this.amount / (this.unit == 'sat' ? 1e8 : 1e-8)).toFixed((this.unit == 'sat' ? 8 : 0)));
			if (convertedAmount == 'NaN') {
				convertedAmount = '-'
			}
			this.shadowRoot.getElementById('btc_amount').value = (this.unit == 'sat' ? this.amount / 1e8 : this.amount);

			if(this.unit == 'sat' || this.unit == 'btc'){
				this.shadowRoot.getElementById('converted_unit_amount').innerHTML = (isNaN(convertedAmount) ? '-' : convertedAmount.toFixed(8).replace(/(\.0+|0+)$/, ''));
			{% if specter.price_check %}
				let altRate = parseFloat('{{ specter.alt_rate }}');
				let altSymbol = '{{ specter.alt_symbol }}';
				let altAmount = parseFloat((altRate * parseFloat(this.shadowRoot.getElementById('btc_amount').value)).toFixed(2))
				if (!isNaN(altAmount) && (altSymbol && altRate)) {
					this.shadowRoot.getElementById('converted_unit_alt').innerHTML = '&nbsp;(' + altAmount + altSymbol + ')';
				} else {
					this.shadowRoot.getElementById('converted_unit_alt').innerHTML = '';
				}
			{% endif %}
			}else{
				this.shadowRoot.getElementById('converted_unit_amount').innerHTML = '&nbsp;';
				this.shadowRoot.getElementById('converted_unit_alt').innerHTML = '&nbsp;';
			}
			
		}



		async is_address_my_own() {
			let address = this.shadowRoot.getElementById('address').value;
			if (!address){return;}

			let url="{{ url_for('wallets_endpoint_api.is_address_mine', wallet_alias=wallet.alias, address='this_address') }}"
			url = url.replace('this_address', address)			
					
			let is_address_mine = send_request(url, 'GET', "{{ csrf_token() }}");
			return is_address_mine;
		}

		mark_recipient(is_address_mine){
			console.log(`Marking ${this.recipient_id} as is_mine=${is_address_mine}`)

			let html_address = this.shadowRoot.getElementById(`address`);
			if (is_address_mine) {
				html_address.style.backgroundColor= 'var(--cmap-bg-address-is-mine)';
			} else {
				html_address.style.backgroundColor= "rgba(1, 1, 1, 0)";
			}

		}

	}
	customElements.define('recipient-box', RecipientBox);
</script>