<!--
Tooltips can be used in two ways:

1) Within a flex container
This enables responsiveness of the width for the tooltip text. Ideally, put the tooltips on the same DOM level as the div / element the tooltip is intended for.

{# - Usage -
    <div class="search-container">
        <div style="flex-grow: 0.2">
            <input class="search" type="text" placeholder="Search..."></input>
        </div>
        <div id="tooltip-container" class="tooltip-little-grow tooltip-width">
            <tool-tip>
                <h4 slot="title">{{ _('Search options') }}</h4>
                <span slot="paragraph">
                    {{ _("You can search using addresses, tx-IDs, labels, confirmations or amounts.") }}<br><br>
                    {{ _('Search like this in the time field:') }} <code>%d.%m.%Y %H:%M</code><br><br>
                    {{ _('Search like this for amounts:') }} <br>
                    <code> 1</code> {{ _("for anything more than 1") }}<br>
                    <code>< 1</code> {{ _("for less than 1 BTC (don't forget the space)") }}<br>
                </span>
            </tool-tip>
        </div>
    </div>
#}

Repsonsiveness can be hooked up in the target jinja file etc. via eventListeners since the
the webcomponent dispatches custom mouseover and mouseout events that can be listened for.
Like so:

this.tooltip.addEventListener("customhover", () => {
    ...
})
this.tooltip.addEventListener("customout", () => {
    ...
})

2) Within other div such as buttons
Set the within attribute to true in this case (to adjust the positioning, otherwise the arrow will no be visible). You can also set a fixed width if you wish. With this approach it is not guarenteed that the

{# - Usage -
<button type="button" class="btn freeze-tx-btn">
    Un/Freeze UTXOs
    <tool-tip width="250px" within="true">
    <span slot="paragraph" style="text-align: start;">
        {{ _("Freezing a UTXO will make Specter disallow spending it.") }}<br><br>
        {{ _("This is useful especially for dealing with a dust attack, where you don't want to accidentally spend the dust received.") }}
    </span>
    </tool-tip>
</button>
#}
-->

<template id="tooltip-template-id">
    <style>
        .tooltip {
            display: flex;
            align-items: center;
            margin-left: 0.5em;
            position: relative;
        }
        .tooltip__icon {
            background: none;
            cursor: pointer;
            height: 1.3em;
            width: 1.3em;
        }
        .tooltip__box {
            display: none;
            position: absolute;
            left: 30px;
            top: -20px;
            background: var(--cmap-bg-lightest);
            border: 1.5px solid var(--cmap-border);
            border-radius: 10px;
            padding: 10px;
            z-index: 2;
        }
        /* This makes the arrow */
        .tooltip__box:before {
            content: "";
            position: absolute;
            left: -10px;
            top: 20px;
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent var(--cmap-border);
        }
        .title {
            color: white;
        }
        .paragraph {
            display: block;
            font-weight: 100;
            font-size: 14px;
        }
        .tooltip:hover .tooltip__box {
            display: flex;
            flex-direction: column;
        }
        @media (hover: none) {
            .tooltip {
                display: none;
            }
        }
    </style>

    <div class="tooltip">
        <img class="tooltip__icon" src="{{ url_for('static', filename='img/light-bulb.svg') }}"></img>
        <div class="tooltip__box" id="tooltip-box">
            <slot name="title" class="title"></slot>
            <slot name="paragraph" class="paragraph"></slot>
        </div>
    </div>
</template>
  
<script type="module">
    class TooltipElement extends HTMLElement {
        constructor() {
            super();
            var shadowRoot = this.attachShadow({mode: 'open'});
            var template = document.getElementById('tooltip-template-id');
            var clone = template.content.cloneNode(true);
            this.tooltipDiv = clone.querySelector('.tooltip')
            // CustomEvent that can be picked up to adjust flex properties in the parent
            this.tooltipDiv.addEventListener("mouseover", () => {
                let event = new CustomEvent('customhover')
                this.dispatchEvent(event);
            })
            this.tooltipDiv.addEventListener("mouseout", () => {
                let event = new CustomEvent('customout')
                this.dispatchEvent(event);
            })
            this.tooltipBox = clone.getElementById("tooltip-box")
            shadowRoot.appendChild(clone);
        }

        static get observedAttributes() {
            return ['width', 'within'];
        }

        connectedCallback() {
            if (this.getAttribute("width")) {
                this.tooltipBox.style.width = this.getAttribute("width");
            }
            if (this.getAttribute("within")) {
                this.tooltipBox.style.left = "60px";
            }
        }
    }
customElements.define('tool-tip', TooltipElement);
</script>