name: Black Python Linter

on: [push,pull_request]

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: psf/black@22.12.0 # https://black.readthedocs.io/en/stable/integrations/github_actions.html
