name: Black Python Linter

on: [push,pull_request]

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.12'  # Pin Python to avoid 3.14 incompatibility with Black 22.3.0
      # This version should match what you can find in .pre-commit-config.yaml
      - uses: psf/black@22.3.0 # https://black.readthedocs.io/en/stable/integrations/github_actions.html
        with:
            options: "--check --verbose"
            src: "./src"
            version: "22.3.0"
