<div id="bitcoin_core_info" class="hidden" style="text-align: left; max-width: 500px;">
    <h1>Bitcoin Core Node Info:</h1>
    {% if specter.chain %}
        {% if specter.info['pruned'] %}
            <p class="warning">&#9432;<br>You are using a pruned node.<br>Pruned nodes may not be able to scan for old balances when importing an existing wallet.<br>It is recommended to use Specter with an unpruned node.</p>
            <br>
        {% elif not specter.info['blockfilterindex'] %}
            <p class="warning">&#9432;<br>Your node does not have <code>blockfilterindex</code> enabled.<br>Setting <code>blockfilterindex=1</code> in your <code>bitcoin.conf</code> file is recommended as it takes just a few GB of storage<br>and helps to speed-up blockchain rescanning.</p>
            <br>
        {% endif %}
        <table>
        <tr> <td style="text-align: left;">Network:<td> <td style="text-align: right;">{{specter.chain}}</td> </tr>
        <tr> <td style="text-align: left; width: 35%;">Bitcoin Core Version:<td> <td style="text-align: right;">v{{specter.bitcoin_core_version}} <span class="note">({{specter.network_info['version']}})</span></td> </tr>
        <tr> <td style="text-align: left;">Connections count:<td> <td style="text-align: right;">{{specter.network_info['connections']}}</td> </tr>
        <tr> <td style="text-align: left;">Difficulty:<td> <td style="text-align: right;">{{specter.info['difficulty'] | int}}</td> </tr>
        <tr> <td style="text-align: left;">Size on disk:<td> <td style="text-align: right;">{{specter.info['size_on_disk']|bytessize }}</td> </tr>
        <tr> <td style="text-align: left;">Blocks count:<td> <td style="text-align: right;">{{specter.info['blocks']}}</td> </tr>
        <tr> <td style="text-align: left;">Last block hash:<td> <td style="text-align: right"><code style="word-break: break-word;">{{specter.info['bestblockhash']}}</code></td> </tr>
        <tr> <td style="text-align: left;">Mempool Size:<td> <td style="text-align: right;">{{specter.info['mempool_info'].size}} transactions</td> </tr>
        <tr> <td style="text-align: left;">Node uptime:<td> <td style="text-align: right;">~ {{(specter.info['uptime'] / 60 // 60) | int }} Hours</td> </tr>
        {% if specter.info['pruned'] %}
            <tr> <td style="text-align: left;">Automatic pruning:<td> <td style="text-align: right;">{{specter.info['automatic_pruning']}}</td> </tr>
            <tr> <td style="text-align: left;">Prune height:<td> <td style="text-align: right;">{{specter.info['pruneheight']}}</td> </tr>
            <tr> <td style="text-align: left;">Prune target size:<td> <td style="text-align: right;">{{specter.info['prune_target_size']}}</td> </tr>
        {% endif %}
        </table>
        <p id="total_supply" style="line-height: 2.5;"></p>
        <div class="row">
            <button type="button" onclick="fetchTotalSupply()" class="btn centered" href="{{ url_for('bitcoin_core_settings') }}">
                Run the numbers!
                <div class="tool-tip">
                    <i class="tool-tip__icon">i</i>
                    <p class="tool-tip__info">
                        <span class="info">
                            <span class="info__title">Calculate the total Bitcoin supply<br><br></span>
                            This will run Bitcoin Core's <code>gettxoutsetinfo</code> command,
                            which will calculate the total amount of Bitcoin's UTXO set.<br><br>
                            This might take a few minutes...<br>
                        </span>
                    </p>
                </div>
            </button>
        </div><br>
        <script>
            let totalUserBalance = parseFloat(parseFloat("{{ specter.wallet_manager.wallets.values() | sum(attribute='fullbalance') }}").toFixed(8));
            async function fetchTotalSupply() {
                document.getElementById('total_supply').innerHTML = 'Running the numbers... (this might take a few minutes)';
                try {
                    const response = await fetch(
                        "{{ url_for('txout_set_info') }}",
                        {
                            method: 'GET'
                        }
                    );
                    let result = await response.json();
                    console.log(result)
                    let userBalanceFromTotal = parseFloat((100 / (result.total_amount / totalUserBalance)).toFixed(8));
                    document.getElementById('total_supply').innerHTML = `Bitcoin Total Supply: ${result.total_amount} BTC<br>` +
                    ( userBalanceFromTotal > 1e-8 ?
                    `<span class="note" style="margin: 7px auto;">Your wallets hold ${totalUserBalance} BTC (~${userBalanceFromTotal}% from the total supply)</span>` :
                    ''
                    )
                } catch(e) {
                    console.log('Caught error:', e);
                    return { success: false, error: e };
                }
            }
        </script>
        {% if current_user.is_admin %}
            <div class="row">
                <a class="btn centered" href="{{ url_for('bitcoin_core_settings') }}">
                    <img src="{{ url_for('static', filename='img/settings-status-bar.svg') }}" style="width: 18px;"/>
                    Configure Bitcoin Core RPC Connection
                </a>
            </div>
        {% endif %}
    {% endif %}
</div>
