<template id="global-search">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <style type="text/css">
        .global-search-row {
            background-color: var(--cmap-bg-lighter);
            padding-left:10px;
            padding-right:2px;
            padding-top:2px;
            padding-bottom:2px;
            margin-bottom:2px;
            word-wrap: break-word;
        }
        .global-search-row:hover {
            background-color: var(--cmap-border);
        }


        .global-search-dropdown {
            --cmap-found_term: #306d30;    
            margin: 20px 20px 5px;
        }

        .global-search-dropdown-content {
            display: none;
            position: absolute;
            background-color: var(--cmap-bg);
            width: 90%;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
            padding: 5px 5px;
            z-index: 1;
            overflow-y:scroll;
            max-height: 50%;
        }

        
    </style>

    <div class="global-search-dropdown">
        <input  id="global-search-input" title="Search for addresses, transactions, amounts, ... and click on the highlighted buttons."  
                placeholder="Search..."/>
        <div class="global-search-dropdown-content" id="global-search-dropdown-content">
        </div>
    </div>
</template>


<script type="text/javascript">
	class GlobalSearch extends HTMLElement {
		constructor() {
			super();

			this.internals = this.attachInternals();

            this.timeOutIds = [];

			this.buildHTML();			// created the html
			this.attachListeners();		// attaches the listeners to some html objects
    }




		// creates the entire html code (without event listeners)  from the template
		buildHTML(){
			// Create a shadow root
			this.attachShadow({
				mode: 'open'
			});

			var template_content = document.getElementById('global-search').content;
            let clone = template_content.cloneNode(true);

            this.searchInputElement = clone.getElementById('global-search-input');
            this.dropdownContentElement = clone.getElementById('global-search-dropdown-content');

            this.shadowRoot.appendChild(clone);
		}



		// adds EventListeners 
		attachListeners(){
			this.searchInputElement.addEventListener('input', event=>{
				this.delayedGlobalSearch(this.searchInputElement.value);
			});			
        }



        /**
        Fetches an element by the ids. 
        If it is below a shadowRoot the argument should be 
            ids = [f"addresses-table-{wallet.alias}","shadowRoot","receive-addresses-view-btn"]
        */
        elementByIds(ids){
            if (!ids) {return null};

            if (typeof ids === 'string' || ids instanceof String){        
                ids = [ids];
            }


            var last_found_element = document;
            var found_element = null;
            for (var i in ids){
                if (ids[i] == 'shadowRoot'){
                    found_element = last_found_element.shadowRoot;
                }
                else {
                    found_element = last_found_element.getElementById(ids[i]);
                }

                if (!found_element) {break}

                last_found_element = found_element;
            }

            if (last_found_element === document){return null};

            return last_found_element
        }


        uiElementToLink(json_structure){
            var htmlElement = this.elementByIds(json_structure.ids);           
            var backupHref = htmlElement ? htmlElement.href : '';
            var backupInnerText = htmlElement ? htmlElement.innerText : '';

            var a = document.createElement("a");
            a.style = "color: #fff;"                
            a.href = json_structure.endpoint ? json_structure.endpoint : backupHref;
            a.text = json_structure.title ? json_structure.title  : backupInnerText;
            return a
        }


        /**
        Takes a HtmlElement.json()  and does all necessary operations
        */
        processHtmlElement(ui_element, searchTerm){
            if (ui_element.results == []){return};
            
            var div = document.createElement("div");
            div.className = "global-search-row";

            // add all parents 
            for (var i in ui_element.flattened_parent_list){
                var parent = ui_element.flattened_parent_list[i];
                // skip the html root
                if (parent.flattened_parent_list.length == 0){continue}

                div.appendChild(this.uiElementToLink(parent));
                div.innerHTML +=  '&nbsp;&nbsp;>&nbsp;&nbsp;';
            }
            
            // add element to the same "parent" chain
            var lastParent = this.uiElementToLink(ui_element);
            div.appendChild(lastParent);

            // show search results
            var span = document.createElement("span")
            span.style.fontSize = "small";
            span.innerHTML += "&nbsp;&nbsp;>&nbsp;&nbsp;" + (ui_element.results.length>1 ? '</br>&emsp;&emsp;' : '');
            const max_number_results = 5;
            for (var i in ui_element.results){
                if (i>max_number_results){
                    span.innerHTML += `+ ${ui_element.results.length - max_number_results} more results`
                    break
                }
                var result = ui_element.results[i];

                // if a title is available for the search result display it nicer
                if (result.title  && result.key){
                    span.innerHTML += this.highlightString(`${result.title}&nbsp;&nbsp;>&nbsp;&nbsp;${result.key}: ${result.value}`, searchTerm);;
                } else {
                    span.innerHTML += this.highlightString(`${result.value}`, searchTerm);;
                }

                // append newline
                if (i < ui_element.results.length-1){
                    span.innerHTML += ',</br>&emsp;&emsp;';
                }
            }
            div.appendChild(span);

			div.addEventListener('click', event=>{
				location.href = lastParent.href;
			});			
            div.style.cursor = "pointer";
            this.dropdownContentElement.appendChild(div);
        }

        highlightString(fullText, searchTerm){             
            var regex = new RegExp(searchTerm, "gi");  
            return fullText.replace(regex, "<span style='background-color: var(--cmap-found_term);'>$&</span>");
        }


        addResultsHeader(results, searchTerm){
            if (results.length == 0){
                var div = document.createElement("div");
                div.className = "global-search-row";
                div.innerText = `No results found.`;
                this.dropdownContentElement.appendChild(div);
            } else {
                // show nothing
                // var div = document.createElement("div");
                // div.className = "global-search-row";
                // div.innerText = `${results.length} results:`;
                // this.dropdownContentElement.appendChild(div);
            }
        }

                
        clearDropdownContent(){
            while (this.dropdownContentElement.firstChild) {
                this.dropdownContentElement.removeChild(this.dropdownContentElement.firstChild);
            } 
        }


        setContentVisibility(visible){
            this.dropdownContentElement.style.display = visible ? "block" : "none";   
        }

        /**
        Sends the searchTerm to an endpoint, gets the answer back and then calls processHtmlElement
        */    
        globalSearch(searchTerm){
            var formData = new FormData();
            formData.append('global-search-input', this.searchInputElement.value);

            let url="{{ url_for('wallets_endpoint_api.global_search' ) }}";
            send_request(url, 'POST', "{{ csrf_token() }}", formData).then((answer)=> {
                // this is to account for the fact that the input element can have changed during the request
                // if the user quickly deletes the search term again, there should be no search window appearing
                if ((this.searchInputElement.value == "") ||  (!answer)) {
                    this.setContentVisibility(false);
                    return
                }
                
                this.clearDropdownContent()
                console.log(answer.childless_only);
                this.addResultsHeader(answer.childless_only)

                const max_number_of_ui_elements = 100;
                for (var i in answer.childless_only){
                    // break if there are too many results
                    if (i>max_number_of_ui_elements){
                        var div = document.createElement("div");
                        div.className = "global-search-row";
                        div.innerText += `+ ${answer.childless_only.length - max_number_of_ui_elements} more results`;
                        this.dropdownContentElement.appendChild(div);
                        break
                    }
                    this.processHtmlElement(answer.childless_only[i], answer.search_term) ;                    
                }

                this.setContentVisibility(answer.childless_only.length > 0);
            });
        }





        /**
        This function starts global_search with a delay

        If a new delayedGlobalSearch is called, it will stop all old Timeouts.

        This ensures only the newest search is actually performed.
        */
        delayedGlobalSearch(searchTerm){        
            // stop old processes
            for (var i = this.timeOutIds.length; i >= 0; i--) {
                clearTimeout(this.timeOutIds[i]);      
                //console.log(`Stopped ${this.timeOutIds[i]}`)
                this.timeOutIds.splice(i, 1);
            }

            const timeOutId = setTimeout(() => this.globalSearch(searchTerm), 100);
            this.timeOutIds.push(timeOutId);
        }





	}
	customElements.define('global-search', GlobalSearch);
</script>