{% set node = specter.node %}
{% if node.is_running %}
    <div class="px-3 py-2 h-full min-w-0 grow flex items-center cursor-pointer" id="active-node" onclick="showPageOverlay('node-info-popup');document.getElementById('side-content').classList.remove('active');" >
        {% include node.node_logo_template() %}

        <div class="ml-2 text-lg min-w-0 text-ellipsis truncate">{{ node.name }}</div>

        <div class="hidden" id="node-info-popup">{% include node.node_info_template() %}</div>
    </div>
{% else %}
    <div class="flex ml-2 gap-2">
        <img src="{{ url_for('static', filename='img/disconnected.svg') }}" width="32px" height="32px">

        <a id="no-node-connection" href="{{ url_for('nodes_endpoint.node_settings', node_alias=node.alias) }}">  
            <!-- <div class="hover:bg-dark-700 rounded-lg p-1 cursor-pointer">{{ _("Click to configure") }}</div> -->
        </a>
    </div>
{% endif%}
