<div class="p-4 w-96 hidden flex flex-col" id="node_select_popup">
    <h1 class="mb-2">{{ _("Node Selection") }}</h1>
    {% for node_name in specter.node_manager.nodes_names %}
        {% set node = specter.node_manager.get_by_name(node_name) %}
        {% set selected_node = node.alias == specter.node.alias %}
        {% set running = node.is_running %}
        <form class="py-2 px-2 mb-3 hover:bg-dark-700 rounded-xl {% if selected_node %} bg-dark-700 {% endif %}" action="{{url_for('nodes_endpoint.switch_node')}}" id="{{node.alias}}-select-node-form" method="POST">
            <input type="hidden" class="csrf-token" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="node_alias" value="{{ node.alias }}"/>

            <div class="cursor-pointer flex text-white items-center space-x-2 {% if node.alias == specter.node.alias %}active{% endif %}" onclick="document.getElementById('{{node.alias}}-select-node-form').submit();">
                <div class="w-10 flex justify-center {% if running %} opacity-100 {% else %} opacity-20 {% endif %}">
                    {% include node.node_logo_template() %}
                </div>

                <div id="node_item" {% if selected_node %} title="Selected node" {% else %} title="Select node" {% endif%}>
                    <div class="leading-0 h-6 text-lg flex items-center space-x-2">
                        <div>{{ node.name }}</div>
                        {% if running %}
                            <img title="Node is running" class="w-4" src="{{ url_for('static', filename='img/radio-button-running-node.svg')}}">
                        {% endif %}
                    </div>
                    <small class="leading-0 text-dark-200 text-base">
                        {% if running %}
                            {{node.chain | title}} node
                        {% else %}
                            {{ _("Node unreachable...") }}
                        {% endif %}
                    </small>
                </div>

                <a class="flex self-center justify-end grow" title="Configure node" href="{{ url_for('nodes_endpoint.node_settings', node_alias=node.alias) }}">
                    <img src="{{ url_for('static', filename='img/gear.svg')}}" class="svg-white"/>
                </a>
            </div>

        </form>
    {% endfor %}
    {{ sidebar_btn(url_for('nodes_endpoint.node_settings'), 'Connect a new node', 'btn_new_node') }}
</div>

<script type="text/javascript">
    function showNodeSelectPopup(e) {
        // Show node selection popup when clicking on the arrows on the sidebar 
        // hidePageOverlay();

        if (!e) var e = window.event;
        e.cancelBubble = true;
        if (e.stopPropagation) { 
            e.stopPropagation(); 
            e.preventDefault();
        }

        document.getElementById('side-content').classList.remove('active');
        showPageOverlay('node_select_popup');

        // Change the default styling of the node selection popup 
        let pageOverlayPopup = document.getElementById('page_overlay_popup')
        pageOverlayPopup.classList.add('page_overlay_popup')
        let nodeSelectPopupContainer = document.getElementById('node_select_popup');
        nodeSelectPopupContainer.style.display = 'flex'
        nodeSelectPopupContainer.classList.add('node-select-popup-container')
    }

    function onCancelOverlay() {
        document.getElementById('page_overlay_popup').style.padding = '1.5em';
    }
</script>
