{#
    sidebar_btn - Add button used in the sidebar for wallets and devices.
    Parameters:
    - url_path: URL path the button should lead to (ie. 'new_wallet', 'new_device').
    - text: The text of the button.
 #}
{% macro sidebar_btn(url_path, text, icon=true) -%}
    <div class="optional">
        <a href="{{url_path}}/" class="btn">
            {% if icon %}<svg width="20" height="20" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>{% endif %}{{ text }}
        </a>
    </div>
{%- endmacro %}
