{# 
    sidebar_device_list_item - Sidebar device list item.
    Parameters:
    - device: Device object of the item.
    - device_alias: Active device alias.
 #}
{% macro sidebar_device_list_item(device, device_alias) -%}
    <a href="/devices/{{device.alias}}/" class="item {% if device_alias == device.alias %}active{% endif %}">
        {% if device.type == "specter" or device.type == "coldcard" %}
            <img src="/static/img/{{device.type|lower}}_icon.svg" width="18px">
        {% else %}
            <img src="/static/img/other_icon.svg" width="18px">
        {% endif %}
        <div>{{device.name}}<br><small>{{ device["keys"] | length}} keys</small></div>
    </a>
{%- endmacro %}
