{# 
    sidebar_wallet_list_item - Sidebar wallet list item.
    Parameters:
    - wallet: Wallet object of the item.
    - wallet_alias: Active wallet alias.
    - chain: Chain name specter is connected to. Options: 'main', 'test', 'regtest', 'signet'.
 #}
{% macro sidebar_wallet_list_item(wallet, wallet_alias, chain) -%}
    <a href="/wallets/{{wallet.alias}}/" class="item {% if wallet_alias == wallet.alias %}active{% endif %}">
        {% include "includes/sidebar/components/wallet_type_svg.jinja" %}
        <div class="grow">
            {{ wallet.name }}<br>
            <span class="note" style="font-size: 0.75em;">{% if wallet.is_multisig %}{{ wallet.sigs_required }} out of {{ wallet.keys|length }} Multisig{% else %}Single Key{% endif %}</span>
            {% if wallet.rescan_progress %}
                <br><span class="note" style="font-size: 0.7em;">Rescanning blockchain: {{ "%.2f"|format(wallet.rescan_progress * 100) }}%</span>
            {% endif %}
        </div>
    </a>
    {% if wallet.rescan_progress %}
        <div class="rescan_progress {{ chain }}">
            <div style="width: {{ wallet.rescan_progress * 100 }}%"></div>
        </div>
    {% endif %}
{%- endmacro %}
