<div class="mx-3" id="services_list">
    {% for _,plugin in specter.service_manager.services.items() %}
        {% if plugin.id in current_user.services and plugin.visible_in_sidebar %}
            <a class="flex items-center my-1 h-12 space-x-2" href="{{ url_for(plugin.id +'_endpoint.index') }}" class="item service">
                <img class="w-8 h-8" src="{{ url_for(plugin.id +'_endpoint' + '.static', filename=plugin.icon) }}">
                <div>{{ plugin.name }}</div>
            </a>
        {% endif %}
    {% endfor %}
</div>
