<style>
    #onion-address-container {
        max-width: 220px;
        padding: 10px;
        margin: 10px;
        background: #7D4698;
        border-radius: 10px;
    }

    #tor-open-btn {
        position: absolute;
        cursor: pointer;
        margin-left: 210px;
        width: 24px;
    }

    #tor-close-btn {
        cursor: pointer;
        color: #fff;
        font-size: 0.8em;
        float: right;
        margin-bottom: 5px;
    }

    .onion-address {
        word-wrap: break-word;
        color: #fff;
        font-size: 0.7em;
        text-decoration: none;
    }

    .onion-address:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>
<div style="position: relative;">
<img id="tor-open-btn" src="/static/img/tor.svg"/>
</div>
<div id="onion-address-container" class="hidden">
    <img id="tor-close-btn" src="/static/img/tor.svg" style="width: 24px;"/>
    <span style="font-size: 0.92em; color: #fff;">Specter Running on Tor</span><br>
    <div style="margin-top: 5px;"> <span style="font-size: 0.75em; color: #fff;">Running at:</span></div>
    <div class="center">
        <span title="Copy Tor address" class="onion-address centered" onclick="copyText('{{ specter.tor_service_id }}.onion', 'Copied Tor hidden service address: {{ specter.tor_service_id }}.onion')">
        {{ specter.tor_service_id }}.onion
        </span>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let torOpenBtn = document.getElementById('tor-open-btn');
        let torCloseBtn = document.getElementById('tor-close-btn');
        let torDataContainer = document.getElementById('onion-address-container');
        torOpenBtn.addEventListener("click", function(){
            torOpenBtn.style.display = 'none';
            torDataContainer.style.display = 'block';
        });

        torCloseBtn.addEventListener("click", function(){
            torOpenBtn.style.display = 'block';
            torDataContainer.style.display = 'none';
        });
    });
</script>