{% extends "hwi/components/hwi_tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'index' %}
{% block content %}
    <br><br>
    <div class="tagline">&ldquo; HwiService 4thewin.&rdquo;</div>
{% endblock %}



{% block scripts %}
    <script>
    </script>
{% endblock %}
