{% from 'includes/sidebar/components/sidebar_btn.jinja' import sidebar_btn %}
<div id="side-content">
    <nav class="side">
        {% if specter.info["initialblockdownload"] %}
            <p class="warning">⚠️<br>Blockchain is still syncing...<br>Data may be shown incorrectly.</p>
        {% endif %}
        <a href="/settings/" class="item core">
            {% from "components/bitcoin_svg.jinja" import bitcoin_svg %}
            {{ bitcoin_svg(specter.info.chain, 32) }}
            <div>
                Bitcoin Core<br>
                <small>
                    {% if specter.chain %}
                        {{specter.chain}}:
                        {% if specter.info["blocks"] %}
                            {{ specter.info.blocks }} blocks
                        {% else %}
                            {{ specter.info.chain }}
                        {% endif %}
                    {% else %}
                        Unavailable. Click to configure.
                    {% endif %}
                </small>
            </div>
        </a>
        <div class="separator">
            Wallets
        </div>
        {% if (specter.device_manager.devices | length) != 0 and specter.chain %}
            {% from 'includes/sidebar/components/sidebar_wallet_list_item.jinja' import sidebar_wallet_list_item %}
            {% for wallet in specter.wallet_manager.wallets_names %}
                {{ sidebar_wallet_list_item(specter.wallet_manager.wallets[wallet], wallet_alias, specter.info.chain) }}
            {% endfor %}
            {{ sidebar_btn('new_wallet', 'Add new wallet') }}
        {% elif specter.chain %}
            <p class="warning">⚠️<br>Create at least one device to enable wallets.</p>
        {% else %}
            <p class="warning">⚠️<br>Wallets are unavailable if Specter is not connected to Bitcoin Core!</p>
        {% endif %}

        <div class="separator">
            Devices
        </div>
        {% from 'includes/sidebar/components/sidebar_device_list_item.jinja' import sidebar_device_list_item %}
        {% for device_name in specter.device_manager.devices_names %}
                {{ sidebar_device_list_item(specter.device_manager.devices[device_name], device_alias) }}
        {% endfor %}
        {{ sidebar_btn('new_device', 'Add new device') }}
        <div class="footer">
            Brought to you by<br>
            <a href="https://cryptoadvance.io" target="_blank">
                <img src="/static/img/ca.png">
            </a>
        </div>
    </nav>
    <div id="side-expand">
        <div>▶</div>
    </div>
</div>
